{
  "openapi": "3.0.0",
  "info": {
    "title": "Brickken API V2",
    "description": "Welcome to the Brickken API documentation. This API allows customers to create and manage tokenization processes, including creating new tokenizations, minting/burning/transferring tokens, whitelisting users, manage tokens approvals. This documentation provides detailed information on how to use the API, including the necessary endpoints, request formats, and expected responses.</details><details><summary>**Authentication**</summary>All API requests require an API key for authentication. Include your API key in the Authorization header of each request:<pre><code>```\n  x-api-key: YOUR_API_KEY\n```</code></pre>Ensure that your API key is kept secure and not shared publicly. A common parameter for all requests is the `signerAddress`. Such address MUST be whitelisted in our factory. To whitelist an address and/or request an API key either for sandbox/production environment please contact with: support@brickken.com. Once a `signerAddress` performs a `newTokenization` we refer to that address as the tokenizer. The tokenizer will be the only one allowed to mint such token, distribute dividends on such token and whitelist/blacklist investors of such token. Regarding actions like transferring tokens or burning tokens, the `signerAddress` can be any user and not only the tokenizer.</details><details><summary>**Supported Networks & Addresses**</summary><details><summary>Sepolia (sandbox environment only)</summary><pre><code>```\n  Chain Id: \"aa36a7\"\n  Factory Address: \"0x933ABAA95a7Fd0Bc683bDe2adB89f4C5EA64897b\"\n  BKN Address: \"0x97a13487f889dc770Ac925Be2d3b6c833FA7746a\"\n  USDT Address: \"0x28d2B01854D0aBec267a3DDcad9163580E6E8604\"\n  USDC Address: \"0xb10cE8e28aEb1ae27b968Fb3bfed2FD7dd52daCb\"\n```</code></pre></details><details><summary>Ethereum mainnet (production environment only)</summary><pre><code>```\n  Chain Id: \"1\"\n  Factory Address: \"0x91af681C85Ca98Efc5D69C1B62E6F435030969Db\"\n  BKN Address: \"0x0A638F07ACc6969abF392bB009f216D22aDEa36d\"\n  USDT Address: \"0xdac17f958d2ee523a2206206994597c13d831ec7\"\n  USDC Address: \"0xa0b86991c6218b36c1d19d4a2e9eb0ce3606eb48\"\n```</code></pre></details><details><summary>Base mainnet (production environment only)</summary><pre><code>```\n  Chain Id: \"2105\"\n  Factory Address: \"0x278D7bdc2451B0Fa4087A68ce084a86cB91D4d83\"\n  BKN Address: \"0xddB293BB5C5258F7484A94a0fBd5c8B2F6E4e376\"\n  USDT Address: N/A\n  USDC Address: \"0x833589fcd6edb6e08f4c7c32d4f71b54bda02913\"\n```</code></pre></details><details><summary>BNB Smart Chain mainnet (production environment only)</summary><pre><code>```\n  Chain Id: \"38\"\n  Factory Address: \"0xCe4529Fe88df480BD777d3e32dfD7032e6C685ff\"\n  BKN Address: \"0x0e28bC9B03971E95acF9ae1326E51ecF9C55B498\"\n  USDT Address: \"0x55d398326f99059fF775485246999027B3197955\"\n  USDC Address: \"0x8AC76a51cc950d9822D68b83fE1Ad97B32Cd580d\"\n```</code></pre></details><details><summary>Avalance C Chain mainnet (production environment only)</summary><pre><code>```\n  Chain Id: \"a86a\"\n  Factory Address: \"0xc6c230FA8F40022dE997727436Fae01caAbcDe61\"\n  BKN Address: \"0xd44E4Dc8bdF7C1c62CfDBb182022097BA42Ac6bC\"\n  USDT Address: \"0x9702230A8Ea53601f5cD2dc00fDBc13d4dF4A8c7\"\n  USDC Address: \"0xB97EF9Ef8734C71904D8002F8b6Bc66Dd9c48a6E\"\n```</code></pre></details></details><details><summary>**Usage Workflow**</summary><details><summary>1. **Prepare Transactions:**</summary>- Use the `POST /prepare-transactions` endpoint with the desired method (e.g., `newTokenization`, `mintToken`, etc...) to prepare the transaction(s).\n- The response will include an array of unsigned transactions that needs to be signed.<details><summary>**Example Of An Endpoint Response:**</summary>```json\n  {\n    \"transactions\": [\n      {\n        \"from\": \"0xSignerAddress\",\n        \"to\": \"0xTargetAddress\",\n        \"value\": {\n          \"type\": \"BigNumber\",\n          \"hex\": \"0x00\"\n        },\n        \"nonce\": 1,\n        \"chainId\": 11155111,\n        \"data\": \"0x...\",\n        \"type\": 2,\n        \"maxPriorityFeePerGas\": {\n          \"type\": \"BigNumber\",\n          \"hex\": \"0x...\"\n        },\n        \"maxFeePerGas\": {\n          \"type\": \"BigNumber\",\n          \"hex\": \"0x...\"\n        },\n        \"gasLimit\": {\n          \"type\": \"BigNumber\",\n          \"hex\": \"0x...\"\n        }\n      }\n    ]\n  }\n```</details></details><details><summary>2. **Sign the Transactions:**</summary>- Use your preferred method or wallet to sign the transaction data provided in the response.\n- Ensure that the signer address matches the `signerAddress` provided in the initial request.<details><summary>**Example Of signing a transaction with typescript and `ethers-js`:**</summary>```typescript\n  const tx = {...} // One of the object in the array returned by the `/prepare-transactions` endpoint\n  const privateKey = process.env.PRIVATE_KEY;\n  const wallet = new ethers.Wallet(privateKey);\n  const signedTx = await wallet.signTransaction(tx);\n  console.log('Signed Transaction:', signedTx);\n```</details>**NOTE:** Be sure to have enough funds in the signer wallet to cover for the transaction cost</details><details><summary>3. **Submit Signed Transactions:**</summary>- Use the `POST /send-transactions` endpoint to submit the signed transaction(s) along with the required parameters.\n- The API will process the transactions, send them to the blockchain, and update the Brickken database accordingly.</details><details><summary>4. **Check Transaction Status:**</summary>- Use the `GET /get-transaction-status` endpoint to check the status of your transaction.\n- Provide the transaction hash (`txHash`) and your email to retrieve the status.</details></details><details><summary>**Environments**</summary>The API is available in several environments for testing and production purposes:- Sandbox: `https://api.sandbox.brickken.com/`\n- Master (Production): `https://api.brickken.com/`</details>",
    "version": "2.0.0"
  },
  "servers": [
    {
      "url": "https://api.sandbox.brickken.com",
      "description": "Sandbox Environment"
    },
    {
      "url": "https://api.brickken.com",
      "description": "Production Environment"
    }
  ],
  "components": {
    "securitySchemes": {
      "apiKeyAuth": {
        "type": "apiKey",
        "in": "header",
        "name": "x-api-key"
      }
    }
  },
  "security": [
    {
      "apiKeyAuth": []
    }
  ],
  "paths": {
    "/prepare-transactions": {
      "post": {
        "summary": "Prepare Transactions",
        "tags": [
          "Endpoints"
        ],
        "description": "**Description:** This endpoint prepares unsigned transactions for various blockchain operations. The operation is determined by the `method` field in the request body. Supported methods include: `newTokenization`, `mintToken`, `whitelist`, `burnToken`, `approve`, `transferTo`, `transferFrom`, `dividendDistribution`, and `newSto`.\n\n**Headers:**\n- `x-api-key`: `YOUR_API_KEY`\n- `Content-Type`: `application/json`\n\n**Common Request Body Parameters:**\n- `method` (string): Operation to perform.\n- `signerAddress` (string): Address initiating the transaction.\n- `chainId` (string): Chain ID in hex (e.g., \"aa36a7\").\n- `gasLimit` (string, optional): Optional gas limit.\n- `rpcUrl` (string, optional): Optional RPC URL.\n\n---\n\n**Method: `newTokenization`**\nPrepares a new tokenization transaction.\n\n**Additional Request Body Parameters:**\n- `url` (string): Token documentation URL.\n- `name` (string): Token name.\n- `symbol` (string): Token symbol (max 5 characters).\n- `tokenizerEmail` (string): The email of the tokenizer.\n- `supplyCap` (string, optional): Max token supply.\n- `preMints` (array, optional): Pre-mint configurations.\n- `initialHolders` (array, optional): Initial holder configurations.\n\n---\n\n**Method: `mintToken`**\nPrepares minting tokens to users.\n\n**Additional Request Body Parameters:**\n- `tokenSymbol` (string): Symbol of the token.\n- `userToMint` (array of objects): Each object includes:\n  - `email` (string)\n  - `investorAddress` (string)\n  - `amount` (string)\n  - `needWhitelist` (boolean)\n\n---\n\n**Method: `whitelist`**\nWhitelists or blacklists users.\n\n**Additional Request Body Parameters:**\n- `tokenSymbol` (string): Symbol of the token.\n- `userToWhitelist` (array of objects): Each includes:\n  - `whitelistStatus` (string): \"true\" or \"false\".\n  - `investorAddress` (string)\n\n---\n\n**Method: `burnToken`**\nBurns tokens from the signer’s balance.\n\n**Additional Request Body Parameters:**\n- `tokenSymbol` (string): Symbol of the token.\n- `amount` (string): Amount to burn.\n\n---\n\n**Method: `transferFrom`**\nTransfers tokens from one address to another (with prior approval).\n\n**Additional Request Body Parameters:**\n- `tokenSymbol` (string): Symbol of the token.\n- `from` (string): Sender address.\n- `to` (string): Receiver address.\n- `amount` (string): Amount to transfer.\n\n---\n\n**Method: `transferTo`**\nTransfers tokens from `signerAddress` to another address.\n\n**Additional Request Body Parameters:**\n- `tokenSymbol` (string): Symbol of the token.\n- `to` (string): Receiver address.\n- `amount` (string): Amount to transfer.\n\n---\n\n**Method: `approve`**\nApproves a spender to use tokens.\n\n**Additional Request Body Parameters:**\n- `tokenSymbol` (string): Token to approve (can include BKN, USDT, USDC).\n- `spenderAddress` (string): Address being approved.\n- `amount` (string): Allowance amount.\n\n---\n\n**Method: `dividendDistribution`**\nDistributes `paymentToken` dividends to holders of `tokenSymbol`.\n\n**Additional Request Body Parameters:**\n- `tokenSymbol` (string)\n- `amount` (string): Amount of payment token to distribute.\n\n**Note:** Amounts are in whole units (e.g., 10 for 10 USDT).\n\n---\n\n**Method: `newSto`**\nCreates a new STO (Security Token Offering).\n\n**Additional Request Body Parameters:**\n- `tokenizerEmail` (string)\n- `tokenAmount` (string)\n- `offeringName` (string)\n- `startDate` (string)\n- `endDate` (string)\n- `acceptedCoin` (string)\n- `minRaiseUSD` (string)\n- `maxRaiseUSD` (string)\n- `minInvestment` (string)\n- `maxInvestment` (string)\n- `signerAddress` (string)",
        "security": [
          {
            "apiKeyAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "method": {
                    "type": "string",
                    "example": "newTokenization",
                    "description": "The operation to be performed. Possible values are newTokenization, mintToken, whitelist, burnToken, transferFrom, transferTo, approve, dividendDistribution, newSto."
                  },
                  "signerAddress": {
                    "type": "string",
                    "example": "0xSignerAddress",
                    "description": "The address of the user initiating the transaction."
                  },
                  "tokenizerEmail": {
                    "type": "string",
                    "example": "tokenizer.email@example.com",
                    "description": "The email of the user."
                  },
                  "chainId": {
                    "type": "string",
                    "example": "aa36a7",
                    "description": "The blockchain network's chain ID in hexadecimal format (e.g., \"aa36a7\" for Sepolia testnet)."
                  },
                  "symbol": {
                    "type": "string",
                    "example": "BKN",
                    "description": "The token symbol (max 5 characters)."
                  },
                  "supplyCap": {
                    "type": "string",
                    "example": "10",
                    "description": "Max token supply."
                  },
                  "name": {
                    "type": "string",
                    "example": "Brickken",
                    "description": "Name of the token."
                  },
                  "gasLimit": {
                    "type": "string",
                    "example": "2000000 but can be omitted",
                    "description": "An amount of gas units as limits. If not specified, it will be automatically estimated."
                  },
                  "rpcUrl": {
                    "type": "string",
                    "example": "{URL_TO_RPC} but can be omitted",
                    "description": "The RPC URL of the blockchain network. If not provided, a default RPC URL for the specified chain ID will be used."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "transactions": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "from": {
                            "type": "string"
                          },
                          "to": {
                            "type": "string"
                          },
                          "value": {
                            "type": "object",
                            "properties": {
                              "type": {
                                "type": "string"
                              },
                              "hex": {
                                "type": "string"
                              }
                            }
                          },
                          "nonce": {
                            "type": "integer"
                          },
                          "chainId": {
                            "type": "integer"
                          },
                          "data": {
                            "type": "string"
                          },
                          "type": {
                            "type": "integer"
                          },
                          "maxPriorityFeePerGas": {
                            "type": "object",
                            "properties": {
                              "type": {
                                "type": "string"
                              },
                              "hex": {
                                "type": "string"
                              }
                            }
                          },
                          "maxFeePerGas": {
                            "type": "object",
                            "properties": {
                              "type": {
                                "type": "string"
                              },
                              "hex": {
                                "type": "string"
                              }
                            }
                          },
                          "gasLimit": {
                            "type": "object",
                            "properties": {
                              "type": {
                                "type": "string"
                              },
                              "hex": {
                                "type": "string"
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/send-transactions": {
      "post": {
        "summary": "Submit Signed Transactions",
        "tags": [
          "Endpoints"
        ],
        "description": "**Description:** This endpoint sends signed transactions to the blockchain.\n\n**Headers:**\n- `x-api-key`: `YOUR_API_KEY`\n- `Content-Type`: `application/json`\n\n**Common Request Body Parameters:**\n- `signedTransactions` (array): Array of signed Ethereum transactions (as hex strings).\n- `rpcUrl` (string, optional): RPC URL of the blockchain network. If not provided, a default is used.\n- `chainId` (string): Blockchain network Chain ID in hex format (e.g., \"aa36a7\").\n- `method` (string): Operation to be performed. Possible values: `newTokenization`, `mintToken`, `whitelist`, `burnToken`, `transferFrom`, `transferTo`, `approve`, `dividendDistribution`, `newSto`.\n\n---\n\n**Method: `newTokenization`**\nSends a transaction to create a new token and start the tokenization process.\n\n**Additional Request Body Parameters:**\n- `tokenName` (string)\n- `tokenSymbol` (string)\n- `tokenizerCompanyName` (string)\n- `tokenizerName` (string)\n- `tokenizerMiddleName` (string, optional)\n- `tokenizerSurname` (string)\n- `tokenizerSecondSurname` (string, optional)\n- `tokenizerEmail` (string)\n- `tokenizerAddress` (string)\n- `supplyCap` (string)\n- `initialShareholders` (array, optional): Each object includes:\n  - `walletAddress` (string)\n  - `amount` (string)\n  - `email` (string)\n\n---\n\n**Method: `mintToken`**\nSends transactions to mint tokens to users.\n\n**Additional Request Body Parameters:**\n- `investorAddress` (string)\n- `investorEmail` (string)\n- `tokenSymbol` (string)\n- `needInvestorCreation` (boolean)\n- `newInvestor` (object, optional): If creation is needed:\n  - `type` (string, optional): \"INVESTOR_PERSON\" or \"INVESTOR_BUSINESS\"\n  - `name` (string)\n  - `middleName` (string, optional)\n  - `surname` (string)\n  - `secondSurname` (string, optional)\n\n---\n\n**Method: `whitelist`**\nWhitelists a user for a token.\n\n**Additional Request Body Parameters:**\n- `tokenSymbol` (string)\n- `investorAddress` (string)\n- `investorEmail` (string)\n- `needInvestorCreation` (boolean)\n- `newInvestor` (object, optional): Same structure as above\n\n---\n\n**Method: `burnToken`**\nBurns tokens from a user's balance.\n\n**Additional Request Body Parameters:**\n- `tokenSymbol` (string)\n- `investorEmail` (string)\n\n---\n\n**Method: `transferFrom`**\nTransfers tokens from one wallet to another using allowance.\n\n**Additional Request Body Parameters:**\n- `tokenSymbol` (string)\n- `from` (string): Address from which tokens are transferred\n- `to` (string): Destination address\n- `amount` (string)\n\n---\n\n**Method: `transferTo`**\nTransfers tokens from the signer to a recipient.\n\n**Additional Request Body Parameters:**\n- `tokenSymbol` (string)\n- `to` (string)\n- `amount` (string)\n\n---\n\n**Method: `approve`**\nApproves a spender to use tokens.\n\n**Additional Request Body Parameters:**\n- `tokenSymbol` (string)\n- `spenderAddress` (string)\n- `amount` (string)\n- `tokenizerAddress` (string, optional): Required if `tokenSymbol` is `BKN`, `USDT`, or `USDC`\n\n---\n\n**Method: `dividendDistribution`**\nDistributes payment tokens to token holders.\n\n**Additional Request Body Parameters:**\n- `tokenSymbol` (string)\n- `amount` (string)\n\n---\n\n**Method: `newSto`**\nCreates a new STO (Security Token Offering).\n\n**Additional Request Body Parameters:**\n- `tokenAmount` (string)\n- `tokenizerEmail` (string)\n- `offeringName` (string)\n- `startDate` (string)\n- `endDate` (string)\n- `acceptedCoin` (string)\n- `minRaiseUSD` (string)\n- `maxRaiseUSD` (string)\n- `minInvestment` (string)\n- `maxInvestment` (string)\n- `signerAddress` (string)",
        "security": [
          {
            "apiKeyAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "signedTransactions": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "Array of signed Ethereum transactions (as hex strings)."
                  },
                  "rpcUrl": {
                    "type": "string",
                    "example": "{URL_TO_RPC} but can be omitted",
                    "description": "The RPC URL to use for sending transactions. Defaults to network-based configuration if not provided."
                  },
                  "chainId": {
                    "type": "string",
                    "example": "aa36a7",
                    "description": "Chain ID representing the blockchain network where transactions are to be executed."
                  },
                  "method": {
                    "type": "string",
                    "example": "newTokenization",
                    "description": "Transaction type. Must be one of newTokenization, mintToken, whitelist, burnToken, transferFrom, transferTo, approve, dividendDistribution."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "txResponses": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "hash": {
                            "type": "string"
                          },
                          "from": {
                            "type": "string"
                          },
                          "to": {
                            "type": "string"
                          },
                          "data": {
                            "type": "string"
                          },
                          "type": {
                            "type": "string"
                          },
                          "statusTx": {
                            "type": "string"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/update-docs": {
      "patch": {
        "summary": "Update Token Documentation",
        "tags": [
          "Endpoints"
        ],
        "description": "**Description:** This endpoint allows you to update token-related documentation and branding materials.\n\n**Headers:**\n- `x-api-key`: `YOUR_API_KEY`\n\n**Request Format:**\nThis endpoint accepts `multipart/form-data` input, which should include:\n- `tokenSymbol` (text)\n- `tokenLogotype` (image file) - optional\n- `subscriptionAgreement` (PDF file) - optional\n- `legalDocs` (PDF file) - optional\n\n**What the endpoint does:**\n- The `tokenLogotype` is uploaded to S3.\n- The `subscriptionAgreement` and `legalDocs` are uploaded to IPFS.\n- The token record (identified by `tokenSymbol`) is then updated with references to the uploaded files.\n\n**Security:**\n- You must provide a valid `x-api-key`.",
        "security": [
          {
            "apiKeyAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "tokenSymbol": {
                    "type": "string",
                    "description": "The symbol of the token being updated."
                  },
                  "tokenLogotype": {
                    "type": "object",
                    "format": "binary",
                    "description": "Image file for the token's logo."
                  },
                  "subscriptionAgreement": {
                    "type": "object",
                    "format": "binary",
                    "description": "PDF file for the token's subscription agreement."
                  },
                  "legalDocs": {
                    "type": "object",
                    "format": "binary",
                    "description": "PDF file containing the legal documentation."
                  }
                },
                "required": [
                  "tokenSymbol"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful update",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "description": "Indicates if the operation was successful.",
                      "example": true
                    },
                    "tokenSymbol": {
                      "type": "string",
                      "description": "The token symbol that was updated."
                    },
                    "tokenLogotypeRef": {
                      "type": "string",
                      "description": "Reference (e.g., S3 path) to the uploaded token logotype image."
                    },
                    "subscriptionAgreementIpfs": {
                      "type": "string",
                      "description": "IPFS CID reference to the uploaded subscription agreement."
                    },
                    "legalDocsIpfs": {
                      "type": "string",
                      "description": "IPFS CID reference to the uploaded legal documents."
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "description": "Error message indicating what went wrong."
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized request (invalid or missing API key)."
          },
          "500": {
            "description": "Internal server error."
          }
        }
      }
    },
    "/get-offers": {
      "get": {
        "summary": "Get all stos by TokenSymbol",
        "tags": [
          "Endpoints"
        ],
        "description": "**Description:** This endpoint retrieves all stos from a token (`tokenSymbol`).\n\n**Headers:**\n\n- `Authorization: Bearer YOUR_API_KEY`\n\n**Query Parameters:**\n\n- `tokenSymbol` (string): The token symbol from a specific token.",
        "security": [
          {
            "apiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "name": "tokenSymbol",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The token symbol from a specific token."
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "array",
                      "items": {
                        "properties": {
                          "uuid": {
                            "type": "string",
                            "format": "uuid",
                            "description": "Unique identifier of the STO.",
                            "example": "f47ac10b-58cc-4372-a567-0e02b2c3d479"
                          },
                          "name": {
                            "type": "string",
                            "description": "Name of the STO.",
                            "example": "Example Project Alpha STO"
                          },
                          "status": {
                            "type": "string",
                            "description": "Current status of the STO (e.g., UPCOMING, ACTIVE, COMPLETED).",
                            "example": "ACTIVE"
                          },
                          "tokenAmount": {
                            "type": "string",
                            "description": "Total amount of tokens offered in the STO (as a string).",
                            "example": "1000000"
                          },
                          "hardCap": {
                            "type": "string",
                            "description": "The hard cap funding goal (as a string).",
                            "example": "500000"
                          },
                          "softCap": {
                            "type": "string",
                            "description": "The soft cap funding goal (as a string).",
                            "example": "100000"
                          },
                          "maxInvestment": {
                            "type": "string",
                            "description": "Maximum allowed investment per participant (as a string).",
                            "example": "10000"
                          },
                          "minInvestment": {
                            "type": "string",
                            "description": "Minimum required investment per participant (as a string).",
                            "example": "100"
                          },
                          "tokenSymbol": {
                            "type": "string",
                            "description": "Symbol for the token being offered.",
                            "example": "EXA"
                          },
                          "startDate": {
                            "type": "string",
                            "format": "date-time",
                            "description": "The STO start date and time in ISO 8601 format.",
                            "example": "2025-04-01T10:00:00.000Z"
                          },
                          "endDate": {
                            "type": "string",
                            "format": "date-time",
                            "description": "The STO end date and time in ISO 8601 format.",
                            "example": "2025-07-01T23:59:59.000Z"
                          },
                          "tokenPrice": {
                            "type": "string",
                            "description": "Price per token (as a string).",
                            "example": "0.50"
                          },
                          "acceptedCoin": {
                            "type": "string",
                            "description": "The symbol of the accepted cryptocurrency for payment.",
                            "example": "USDC"
                          }
                        },
                        "required": [
                          "uuid",
                          "name",
                          "status",
                          "tokenAmount",
                          "hardCap",
                          "softCap",
                          "maxInvestment",
                          "minInvestment",
                          "tokenSymbol",
                          "startDate",
                          "endDate",
                          "tokenPrice",
                          "acceptedCoin"
                        ]
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/get-sto-by-id/{id}": {
      "get": {
        "summary": "Get a specific STO by its UUID",
        "tags": [
          "Endpoints"
        ],
        "description": "**Description:** This endpoint retrieves the details of a specific STO using its unique identifier (`uuid`).\n\n**Headers:**\n\n- `Authorization: Bearer YOUR_API_KEY`\n\n**Path Parameters:**\n\n- `uuid` (string, format: uuid): The unique identifier of the STO to retrieve.",
        "security": [
          {
            "apiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "description": "The unique identifier (UUID) of the STO."
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response - STO details retrieved",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "description": "Represents the structure of an STO based on the defined interface.",
                  "properties": {
                    "uuid": {
                      "type": "string",
                      "format": "uuid",
                      "description": "Unique identifier of the STO.",
                      "example": "f47ac10b-58cc-4372-a567-0e02b2c3d479"
                    },
                    "name": {
                      "type": "string",
                      "description": "Name of the STO.",
                      "example": "Example Project Alpha STO"
                    },
                    "status": {
                      "type": "string",
                      "description": "Current status of the STO (e.g., UPCOMING, ACTIVE, COMPLETED).",
                      "example": "ACTIVE"
                    },
                    "tokenAmount": {
                      "type": "string",
                      "description": "Total amount of tokens offered in the STO (as a string).",
                      "example": "1000000"
                    },
                    "hardCap": {
                      "type": "string",
                      "description": "The hard cap funding goal (as a string).",
                      "example": "500000"
                    },
                    "softCap": {
                      "type": "string",
                      "description": "The soft cap funding goal (as a string).",
                      "example": "100000"
                    },
                    "maxInvestment": {
                      "type": "string",
                      "description": "Maximum allowed investment per participant (as a string).",
                      "example": "10000"
                    },
                    "minInvestment": {
                      "type": "string",
                      "description": "Minimum required investment per participant (as a string).",
                      "example": "100"
                    },
                    "tokenSymbol": {
                      "type": "string",
                      "description": "Symbol for the token being offered.",
                      "example": "EXA"
                    },
                    "startDate": {
                      "type": "string",
                      "format": "date-time",
                      "description": "The STO start date and time in ISO 8601 format.",
                      "example": "2025-04-01T10:00:00.000Z"
                    },
                    "endDate": {
                      "type": "string",
                      "format": "date-time",
                      "description": "The STO end date and time in ISO 8601 format.",
                      "example": "2025-07-01T23:59:59.000Z"
                    },
                    "tokenPrice": {
                      "type": "string",
                      "description": "Price per token (as a string).",
                      "example": "0.50"
                    },
                    "acceptedCoin": {
                      "type": "string",
                      "description": "The symbol of the accepted cryptocurrency for payment.",
                      "example": "USDC"
                    }
                  },
                  "required": [
                    "uuid",
                    "name",
                    "status",
                    "tokenAmount",
                    "hardCap",
                    "softCap",
                    "maxInvestment",
                    "minInvestment",
                    "tokenSymbol",
                    "startDate",
                    "endDate",
                    "tokenPrice",
                    "acceptedCoin"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/get-sto-balance": {
      "get": {
        "summary": "Get STO balance and status information",
        "tags": [
          "Endpoints"
        ],
        "description": "**Description:** This endpoint retrieves balance details and current status for a Security Token Offering (STO). The specific STO may be determined by context (e.g., associated with the API key) or might require parameters not specified here.\n\n**Headers:**\n\n- `Authorization: Bearer YOUR_API_KEY`",
        "security": [
          {
            "apiKeyAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response - STO balance details retrieved",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "description": "Represents the balance and status details of an STO.",
                  "properties": {
                    "uuid": {
                      "type": "string",
                      "format": "uuid",
                      "description": "Unique identifier of the STO.",
                      "example": "a1b2c3d4-e5f6-7890-1234-567890abcdef"
                    },
                    "name": {
                      "type": "string",
                      "description": "Name of the STO.",
                      "example": "Project Phoenix STO"
                    },
                    "companyName": {
                      "type": "string",
                      "description": "Name of the company issuing the STO.",
                      "example": "Phoenix Innovations Inc."
                    },
                    "status": {
                      "type": "string",
                      "description": "Current status of the STO (e.g., ACTIVE, PAUSED, COMPLETED).",
                      "example": "ACTIVE"
                    },
                    "tokenAmount": {
                      "type": "string",
                      "description": "Total amount of tokens offered in the STO (as a string).",
                      "example": "5000000"
                    },
                    "hardCap": {
                      "type": "string",
                      "description": "The hard cap funding goal (as a string).",
                      "example": "2500000"
                    },
                    "softCap": {
                      "type": "string",
                      "description": "The soft cap funding goal (as a string).",
                      "example": "500000"
                    },
                    "minInvestment": {
                      "type": "string",
                      "description": "Minimum required investment per participant (as a string).",
                      "example": "200"
                    },
                    "maxInvestment": {
                      "type": "string",
                      "description": "Maximum allowed investment per participant (as a string).",
                      "example": "25000"
                    },
                    "startDate": {
                      "type": "string",
                      "format": "date-time",
                      "description": "The STO start date and time in ISO 8601 format.",
                      "example": "2025-05-01T09:00:00.000Z"
                    },
                    "endDate": {
                      "type": "string",
                      "format": "date-time",
                      "description": "The STO end date and time in ISO 8601 format.",
                      "example": "2025-08-01T23:59:59.000Z"
                    },
                    "tokenPrice": {
                      "type": "string",
                      "description": "Price per token (as a string).",
                      "example": "0.75"
                    },
                    "tokenSymbol": {
                      "type": "string",
                      "description": "Symbol for the token being offered.",
                      "example": "PHNX"
                    },
                    "currentAmountRaised": {
                      "type": "string",
                      "description": "The amount currently raised in the STO (as a string).",
                      "example": "875320.50"
                    },
                    "availableAmount": {
                      "type": "string",
                      "description": "The amount of tokens still available for sale (as a string).",
                      "example": "4124679.33"
                    }
                  },
                  "required": [
                    "uuid",
                    "name",
                    "companyName",
                    "status",
                    "tokenAmount",
                    "hardCap",
                    "softCap",
                    "minInvestment",
                    "maxInvestment",
                    "startDate",
                    "endDate",
                    "tokenPrice",
                    "tokenSymbol",
                    "currentAmountRaised",
                    "availableAmount"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/get-investors-info": {
      "get": {
        "summary": "Get investors information",
        "tags": [
          "Endpoints"
        ],
        "description": "Returns detailed information about an individual investor, including personal details, KYC verification link, wallet address, investor type, and a list of all past investments. Each investment entry includes transaction details such as amount, currency, status, associated token, and offering metadata",
        "security": [
          {
            "apiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "name": "email",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The email of the investor."
          },
          {
            "name": "token symbol",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The tokens symbol."
          }
        ],
        "responses": {
          "200": {
            "description": "Succesful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "email": {
                      "type": "string",
                      "format": "email",
                      "description": "User's email address.",
                      "example": "investor@example.com"
                    },
                    "firstName": {
                      "type": "string",
                      "description": "User's first name.",
                      "example": "John"
                    },
                    "lastName": {
                      "type": "string",
                      "description": "User's last name (derived from firstSurname).",
                      "example": "Doe"
                    },
                    "kycUrl": {
                      "type": "string",
                      "format": "url",
                      "description": "URL related to the user's KYC status/process.",
                      "example": "https://kyc.example.com/user/123"
                    },
                    "profilePicture": {
                      "type": "string",
                      "format": "url",
                      "description": "URL or identifier for the user's profile picture.",
                      "example": "https://images.example.com/profiles/john_doe.jpg"
                    },
                    "walletAddress": {
                      "type": "string",
                      "description": "User's associated wallet address.",
                      "example": "0xAb5801a7D398351b8bE11C439e05C5B3259aeC9B"
                    },
                    "type": {
                      "type": "string",
                      "description": "Type classification of the user.",
                      "example": "INVESTOR_INDIVIDUAL"
                    },
                    "investments": {
                      "type": "array",
                      "description": "An array containing the user's investment details.",
                      "items": {
                        "properties": {
                          "id": {
                            "type": "string",
                            "format": "uuid",
                            "description": "Unique identifier of the investment (from inv.uuid).",
                            "example": "b8341970-b99d-4c75-929c-854ab746723e"
                          },
                          "date": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Timestamp when the investment was created (from inv.createdAt).",
                            "example": "2024-06-13T08:20:00.656Z"
                          },
                          "txHash": {
                            "type": "string",
                            "nullable": true,
                            "description": "Transaction hash, if available (from inv.investmentTransaction?.txHash).",
                            "example": "0x123abc456def789..."
                          },
                          "currency": {
                            "type": "string",
                            "nullable": true,
                            "description": "Symbol of the currency used for payment (from inv.paymentToken?.symbol).",
                            "example": "USDT"
                          },
                          "amountInUSDT": {
                            "type": "string",
                            "description": "Invested amount, represented in USDT value (from inv.investedAmount).",
                            "example": "100.0"
                          },
                          "status": {
                            "type": "string",
                            "description": "Status of the investment (from inv.status).",
                            "example": "success"
                          },
                          "tokenSymbol": {
                            "type": "string",
                            "nullable": true,
                            "description": "Symbol of the token acquired in the offering (from inv.sto?.company?.tokenSymbol).",
                            "example": "ABC"
                          },
                          "offeringId": {
                            "type": "string",
                            "format": "uuid",
                            "nullable": true,
                            "description": "Unique identifier of the STO/offering (from inv.sto?.uuid).",
                            "example": "a5232594-3f97-47d0-b362-491caac9388f"
                          },
                          "offeringName": {
                            "type": "string",
                            "nullable": true,
                            "description": "Name of the STO/offering (from inv.sto?.name).",
                            "example": "Round A"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/get-investments-by-sto": {
      "get": {
        "summary": "Get investments associated with a specific STO ID",
        "tags": [
          "Endpoints"
        ],
        "description": "**Description:** This endpoint retrieves a list of investment transactions associated with a specific Security Token Offering (STO), identified by its UUID.\n\n**Headers:**\n\n- `Authorization: Bearer YOUR_API_KEY`\n\n**Path Parameters:**\n\n- `stoId` (string, format: uuid): The unique identifier of the STO for which to retrieve investments.",
        "security": [
          {
            "apiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "description": "The unique identifier (UUID) of the STO."
          },
          {
            "name": "tokenSymbol",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "description": "The unique identifier (UUID) of the STO."
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response - Investments for the specified STO retrieved.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "description": "Contains a list of offering transactions and the total count.",
                  "properties": {
                    "offeringTransactionsList": {
                      "type": "array",
                      "description": "An array containing the details of offering-related transactions (investments for this STO).",
                      "items": {
                        "type": "object",
                        "description": "Represents details of a single investment transaction related to an offering.",
                        "properties": {
                          "id": {
                            "type": "string",
                            "format": "uuid",
                            "description": "Unique identifier of the investment record (from inv.uuid).",
                            "example": "42594b34-1c1f-4e03-9dd2-78b16ff9826e"
                          },
                          "date": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Timestamp when the investment record was created (from inv.createdAt).",
                            "example": "2024-06-06T09:35:43.106Z"
                          },
                          "txHash": {
                            "type": "string",
                            "nullable": true,
                            "description": "Transaction hash associated with the investment, if available (from inv.investmentTransaction?.txHash).",
                            "example": "0xabcdef1234567890abcdef1234567890abcdef1234567890abcdef1234567890"
                          },
                          "user": {
                            "type": "string",
                            "format": "email",
                            "description": "Email address of the investor (from inv.investorEmail).",
                            "example": "investor.email@example.com"
                          },
                          "currency": {
                            "type": "string",
                            "nullable": true,
                            "description": "Symbol of the currency used for the transaction (from inv.paymentToken?.symbol).",
                            "example": "USDC"
                          },
                          "amountInUSD": {
                            "type": "string",
                            "description": "Invested amount, represented in USD value (from inv.investedAmount).",
                            "example": "500.00"
                          },
                          "status": {
                            "type": "string",
                            "description": "Status or type of the transaction (derived from inv.stoClaimant?.operation or defaults to 'invest').",
                            "example": "invest"
                          }
                        },
                        "required": [
                          "id",
                          "date",
                          "user",
                          "amountInUSD",
                          "status"
                        ]
                      }
                    },
                    "total": {
                      "type": "integer",
                      "format": "int32",
                      "description": "The total number of investment records found for this STO.",
                      "example": 42
                    }
                  },
                  "required": [
                    "offeringTransactionsList",
                    "total"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/get-transaction-status": {
      "get": {
        "summary": "Check Transaction Status",
        "tags": [
          "Endpoints"
        ],
        "description": "**Description:** This endpoint retrieves the status of submitted transactions using the transaction hash (`hash`).\n\n**Headers:**\n\n- `Authorization: Bearer YOUR_API_KEY`\n\n**Query Parameters:**\n\n- `hash` (string): The hash of the transaction.",
        "security": [
          {
            "apiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "name": "hash",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The hash of the transaction."
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "description": "Transaction status.",
                      "enum": [
                        "pending",
                        "success",
                        "rejected"
                      ]
                    },
                    "details": {
                      "type": "object",
                      "description": "Additional details about the transaction status."
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/get-allowance": {
      "get": {
        "summary": "Get Allowance",
        "tags": [
          "Endpoints"
        ],
        "description": "**Description:** Retrieves the allowance of a spender address for a given token from the owner's address.\n\n**Headers:**\n\n- `x-api-key`: `YOUR_API_KEY`\n\n**Query Parameters:**\n\n- `tokenSymbol` (string): The symbol of the token (e.g., \"USDT\").\n- `spenderAddress` (string): The Ethereum address of the spender.\n- `ownerAddress` (string): The Ethereum address of the token owner.",
        "security": [
          {
            "apiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "name": "tokenSymbol",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The symbol of the token (e.g., \"USDT\")."
          },
          {
            "name": "spenderAddress",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The Ethereum address of the spender."
          },
          {
            "name": "ownerAddress",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The Ethereum address of the token owner."
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "allowance": {
                      "type": "string",
                      "description": "Allowance amount."
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/get-balance-whitelist": {
      "get": {
        "summary": "Get Balance and Whitelist Status",
        "tags": [
          "Endpoints"
        ],
        "description": "**Description:** Fetches the balance and whitelist status of a user for a specific token.\n\n**Headers:**\n\n- `x-api-key`: `YOUR_API_KEY`\n\n**Query Parameters:**\n\n- `tokenSymbol` (string): The symbol of the token.\n- `investorEmail` (string): The email of the investor.",
        "security": [
          {
            "apiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "name": "tokenSymbol",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The symbol of the token."
          },
          {
            "name": "investorEmail",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The email of the investor."
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "bknFees": {
                      "type": "string",
                      "description": "Amount of BKN fees."
                    },
                    "senderBalance": {
                      "type": "string",
                      "description": "Balance of the sender."
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/get-network-info": {
      "get": {
        "summary": "Get Network Information",
        "tags": [
          "Endpoints"
        ],
        "description": "**Description:** Retrieves network information for a specified chain ID.\n\n**Headers:**\n\n- `x-api-key`: `YOUR_API_KEY`\n\n**Query Parameters:**\n\n- `chainId` (string): The blockchain's chain ID (e.g., \"aa36a7\").",
        "security": [
          {
            "apiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "name": "chainId",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The blockchain's chain ID (e.g., \"aa36a7\")."
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "currencyName": {
                      "type": "string",
                      "description": "The name of the blockchain's currency."
                    },
                    "blockExplorerUrl": {
                      "type": "string",
                      "description": "The URL of the block explorer."
                    },
                    "factoryAddress": {
                      "type": "string",
                      "description": "The address of the factory contract."
                    },
                    "BKNAddress": {
                      "type": "string",
                      "description": "The address of the BKN token."
                    },
                    "USDTAddress": {
                      "type": "string",
                      "description": "The address of the USDT token."
                    },
                    "USDCAddress": {
                      "type": "string",
                      "description": "The address of the USDC token."
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/get-token-info": {
      "get": {
        "summary": "Get Token Information",
        "tags": [
          "Endpoints"
        ],
        "description": "**Description:** Retrieves detailed information about a specific token.\n\n**Headers:**\n\n- `x-api-key`: `YOUR_API_KEY`\n\n**Query Parameters:**\n\n- `tokenSymbol` (string): The symbol of the token.",
        "security": [
          {
            "apiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "name": "tokenSymbol",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The symbol of the token."
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "tokenSymbols": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      },
                      "description": "List of token symbols."
                    },
                    "tokenizerEmails": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      },
                      "description": "List of tokenizer emails."
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/get-tokenizer-info": {
      "get": {
        "summary": "Get Tokenizer Information",
        "tags": [
          "Endpoints"
        ],
        "description": "**Description:** Retrieves information about the tokenizer of a specific token.\n\n**Headers:**\n\n- `x-api-key`: `YOUR_API_KEY`\n\n**Query Parameters:**\n\n- `tokenSymbol` (string): The symbol of the token.",
        "security": [
          {
            "apiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "name": "tokenSymbol",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The symbol of the token."
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "companyWalletAddress": {
                      "type": "string",
                      "description": "The company's wallet address."
                    },
                    "paymentTokenAddress": {
                      "type": "string",
                      "description": "The payment token's address."
                    },
                    "escrowAddress": {
                      "type": "string",
                      "description": "The escrow address."
                    },
                    "chainId": {
                      "type": "string",
                      "description": "The blockchain's chain ID."
                    },
                    "email": {
                      "type": "string",
                      "description": "The email of the tokenizer."
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/get-whitelist-status": {
      "get": {
        "summary": "Get Whitelist Status",
        "tags": [
          "Endpoints"
        ],
        "description": "**Description:** Checks the whitelist status of an investor for a specific token.\n\n**Headers:**\n\n- `x-api-key`: `YOUR_API_KEY`\n\n**Query Parameters:**\n\n- `tokenSymbol` (string): The symbol of the token.\n- `investorAddress` (string): The Ethereum address of the investor.",
        "security": [
          {
            "apiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "name": "tokenSymbol",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The symbol of the token."
          },
          {
            "name": "investorAddress",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The Ethereum address of the investor."
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "whitelistStatus": {
                      "type": "boolean",
                      "description": "Whitelist status of the investor."
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}