{
  "openapi": "3.1.0",
  "info": {
    "title": "Brickken API V2",
    "description": "Welcome to the Brickken API documentation. This API allows customers to create and manage tokenization processes, including creating new tokenizations, minting/burning/transferring tokens, whitelisting users, manage tokens approvals. This documentation provides detailed information on how to use the API, including the necessary endpoints, request formats, and expected responses.</details><details><summary>**Authentication**</summary>All API requests require an API key for authentication. Include your API key in the `x-api-key` header of each request:<pre><code>```\n  x-api-key: YOUR_API_KEY\n```</code></pre>Ensure that your API key is kept secure and not shared publicly. A common parameter for all requests is the `signerAddress`. Such address MUST be whitelisted in our factory. To whitelist an address and/or request an API key either for sandbox/production environment please contact with: support@brickken.com. Once a `signerAddress` performs a `newTokenization` we refer to that address as the tokenizer. The tokenizer will be the only one allowed to mint such token, distribute dividends on such token and whitelist/blacklist investors of such token. Regarding actions like transferring tokens or burning tokens, the `signerAddress` can be any user and not only the tokenizer.</details><details><summary>**Supported Networks & Addresses**</summary><details><summary>Sepolia (sandbox environment only)</summary><pre><code>```\n  Chain Id: \"aa36a7\"\n  Factory Address: \"0x933ABAA95a7Fd0Bc683bDe2adB89f4C5EA64897b\"\n  BKN Address: \"0x97a13487f889dc770Ac925Be2d3b6c833FA7746a\"\n  USDT Address: \"0x28d2B01854D0aBec267a3DDcad9163580E6E8604\"\n  USDC Address: \"0xb10cE8e28aEb1ae27b968Fb3bfed2FD7dd52daCb\"\n```</code></pre></details><details><summary>Ethereum mainnet (production environment only)</summary><pre><code>```\n  Chain Id: \"1\"\n  Factory Address: \"0x91af681C85Ca98Efc5D69C1B62E6F435030969Db\"\n  BKN Address: \"0x0A638F07ACc6969abF392bB009f216D22aDEa36d\"\n  USDT Address: \"0xdac17f958d2ee523a2206206994597c13d831ec7\"\n  USDC Address: \"0xa0b86991c6218b36c1d19d4a2e9eb0ce3606eb48\"\n```</code></pre></details><details><summary>Base mainnet (production environment only)</summary><pre><code>```\n  Chain Id: \"2105\"\n  Factory Address: \"0x278D7bdc2451B0Fa4087A68ce084a86cB91D4d83\"\n  BKN Address: \"0xddB293BB5C5258F7484A94a0fBd5c8B2F6E4e376\"\n  USDT Address: N/A\n  USDC Address: \"0x833589fcd6edb6e08f4c7c32d4f71b54bda02913\"\n```</code></pre></details><details><summary>BNB Smart Chain mainnet (production environment only)</summary><pre><code>```\n  Chain Id: \"38\"\n  Factory Address: \"0xCe4529Fe88df480BD777d3e32dfD7032e6C685ff\"\n  BKN Address: \"0x0e28bC9B03971E95acF9ae1326E51ecF9C55B498\"\n  USDT Address: \"0x55d398326f99059fF775485246999027B3197955\"\n  USDC Address: \"0x8AC76a51cc950d9822D68b83fE1Ad97B32Cd580d\"\n```</code></pre></details><details><summary>Avalance C Chain mainnet (production environment only)</summary><pre><code>```\n  Chain Id: \"a86a\"\n  Factory Address: \"0xc6c230FA8F40022dE997727436Fae01caAbcDe61\"\n  BKN Address: \"0xd44E4Dc8bdF7C1c62CfDBb182022097BA42Ac6bC\"\n  USDT Address: \"0x9702230A8Ea53601f5cD2dc00fDBc13d4dF4A8c7\"\n  USDC Address: \"0xB97EF9Ef8734C71904D8002F8b6Bc66Dd9c48a6E\"\n```</code></pre></details></details><details><summary>**Usage Workflow**</summary><details><summary>1. **Prepare Transactions:**</summary>- Use the `POST /prepare-transactions` endpoint with the desired method (e.g., `newTokenization`, `mintToken`, etc...) to prepare the transaction(s).\n- The response will include an array of unsigned transactions that needs to be signed.<details><summary>**Example Of An Endpoint Response:**</summary>```json\n  {\n    \"transactions\": [\n      {\n        \"from\": \"0xSignerAddress\",\n        \"to\": \"0xTargetAddress\",\n        \"value\": {\n          \"type\": \"BigNumber\",\n          \"hex\": \"0x00\"\n        },\n        \"nonce\": 1,\n        \"chainId\": 11155111,\n        \"data\": \"0x...\",\n        \"type\": 2,\n        \"maxPriorityFeePerGas\": {\n          \"type\": \"BigNumber\",\n          \"hex\": \"0x...\"\n        },\n        \"maxFeePerGas\": {\n          \"type\": \"BigNumber\",\n          \"hex\": \"0x...\"\n        },\n        \"gasLimit\": {\n          \"type\": \"BigNumber\",\n          \"hex\": \"0x...\"\n        }\n      }\n    ]\n  }\n```</details></details><details><summary>2. **Sign the Transactions:**</summary>- Use your preferred method or wallet to sign the transaction data provided in the response.\n- Ensure that the signer address matches the `signerAddress` provided in the initial request.<details><summary>**Example Of signing a transaction with typescript and `ethers-js`:**</summary>```typescript\n  const tx = {...} // One of the object in the array returned by the `/prepare-transactions` endpoint\n  const privateKey = process.env.PRIVATE_KEY;\n  const wallet = new ethers.Wallet(privateKey);\n  const signedTx = await wallet.signTransaction(tx);\n  console.log('Signed Transaction:', signedTx);\n```</details>**NOTE:** Be sure to have enough funds in the signer wallet to cover for the transaction cost</details><details><summary>3. **Submit Signed Transactions:**</summary>- Use the `POST /send-transactions` endpoint to submit the signed transaction(s) along with the required parameters.\n- The API will process the transactions, send them to the blockchain, and update the Brickken database accordingly.</details><details><summary>4. **Check Transaction Status:**</summary>- Use the `GET /get-transaction-status` endpoint to check the status of your transaction.\n- Provide either the on-chain transaction hash (`hash`) or the internal transaction ID (`txId`) to retrieve the status.</details></details><details><summary>**Environments**</summary>The API is available in several environments for testing and production purposes:- Sandbox: `https://api.sandbox.brickken.com/`\n- Master (Production): `https://api.brickken.com/`</details>\n\nThe API also exposes x402scan discovery facade endpoints under /x402/... The public discovery target is https://api.brickken.com, with /.well-known/x402 returning resource URLs and /openapi.json returning the generated OpenAPI 3.1 document.",
    "version": "2.0.0"
  },
  "servers": [
    {
      "url": "https://api.sandbox.brickken.com",
      "description": "Sandbox Environment"
    },
    {
      "url": "https://api.brickken.com",
      "description": "Production Environment"
    }
  ],
  "components": {
    "securitySchemes": {
      "apiKeyAuth": {
        "type": "apiKey",
        "in": "header",
        "name": "x-api-key"
      },
      "x402Payment": {
        "type": "apiKey",
        "in": "header",
        "name": "X-Payment",
        "description": "Base64-encoded x402 payment payload. Supported for x402-eligible agentic methods on /x402/... facades, /prepare-transactions, and eligible /send-transactions retries."
      }
    }
  },
  "security": [
    {
      "apiKeyAuth": []
    }
  ],
  "paths": {
    "/prepare-transactions": {
      "post": {
        "summary": "Prepare Transactions",
        "tags": [
          "Endpoints"
        ],
        "description": "**Description:** This endpoint prepares unsigned transactions for the method selected in the `method` field. For exact required and optional body fields, use the method-specific endpoints under Create Transaction.\n\n**Headers:**\n- `x-api-key`: `YOUR_API_KEY` for API-key auth, or `X-Payment` for x402 retries on eligible agentic methods\n- `Content-Type`: `application/json`\n\n**Common Request Body Parameters:**\n- `method` (string, required): Operation to prepare.\n- `chainId` (string, required): Blockchain network identifier. Hex format is recommended, for example `aa36a7` for Sepolia.\n- `signerAddress` (string, conditionally required): Wallet address that signs the prepared transaction. Most methods require it; `newInvest` and `claimTokens` can use `investorAddress` as the signer.\n- `gasLimit` (string, optional): Gas limit override. If omitted, the API estimates gas automatically.\n- `privateRpcUrl` (string, optional): Private RPC URL override.\n- `nonce` (integer, optional): Nonce override. If omitted, the API reads the pending nonce from the RPC.",
        "security": [
          {
            "apiKeyAuth": []
          },
          {
            "x402Payment": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "method": {
                    "type": "string",
                    "example": "newTokenization",
                    "enum": [
                      "newTokenization",
                      "newSto",
                      "newInvest",
                      "claimTokens",
                      "mintToken",
                      "whitelist",
                      "approve",
                      "burnToken",
                      "transferFrom",
                      "transferTo",
                      "dividendDistribution",
                      "closeOffer",
                      "newTokenizedAgent",
                      "agentRegister",
                      "agentSetURI",
                      "agentSetMetadata",
                      "agentSetWallet",
                      "agentGiveFeedback",
                      "agentRevokeFeedback",
                      "agentAppendFeedbackResponse",
                      "agentCreateToken",
                      "agentMintToken",
                      "agentBurnToken",
                      "agentTransferToken",
                      "agentTransferFromToken",
                      "agentApproveToken"
                    ],
                    "description": "The operation to be performed. Includes standard tokenization methods and x402-eligible agentic methods. Agentic methods can also be addressed through /x402/... facade endpoints, where the method is derived from the path. newTokenizedAgent remains a legacy alias for direct /prepare-transactions calls and is not listed in x402scan discovery."
                  },
                  "signerAddress": {
                    "type": "string",
                    "description": "Optional. Wallet address that will sign the prepared transaction. If omitted, the API uses investorAddress for this method.",
                    "example": "0x742d35Cc6634C0532925a3b8D4C9db96c4b4d8b"
                  },
                  "chainId": {
                    "type": "string",
                    "description": "Required. Blockchain network identifier. Hex format is recommended, for example Sepolia `aa36a7`.",
                    "example": "aa36a7"
                  },
                  "tokenSymbol": {
                    "type": "string",
                    "description": "Required. Token symbol. Must be 2 to 5 uppercase letters or numbers.",
                    "example": "EXMPL"
                  },
                  "tokenType": {
                    "type": "string",
                    "enum": [
                      "EQUITY",
                      "DEBT",
                      "BILL_FACTORING",
                      "ICO",
                      "STABLECOIN",
                      "REVENUE_SHARE",
                      "RWA_TOKEN",
                      "PROFIT_SHARING"
                    ],
                    "example": "EQUITY",
                    "description": "Optional. Token type. Defaults to EQUITY when omitted."
                  },
                  "tokenizerEmail": {
                    "type": "string",
                    "description": "Optional. Tokenizer email. Required for newTokenization, newSto, and closeOffer.",
                    "example": "tokenizer@example.com",
                    "format": "email"
                  },
                  "acceptedCoin": {
                    "type": "string",
                    "description": "Required. Accepted payment token symbol.",
                    "example": "USDT"
                  },
                  "amount": {
                    "type": "string",
                    "description": "Optional. Amount used by approve, burnToken, transferFrom, transferTo, and dividendDistribution.",
                    "example": "100"
                  },
                  "endDate": {
                    "type": "string",
                    "description": "Required. STO end date.",
                    "example": "2026-12-31T23:59:59.000Z",
                    "format": "date-time"
                  },
                  "from": {
                    "type": "string",
                    "description": "Optional. Source address required by transferFrom.",
                    "example": "0x1111111111111111111111111111111111111111",
                    "pattern": "^0x[a-fA-F0-9]{40}$"
                  },
                  "gasLimit": {
                    "type": "string",
                    "description": "Optional. Gas limit override. If omitted, the API estimates gas automatically.",
                    "example": "2000000"
                  },
                  "initialHolders": {
                    "type": "array",
                    "description": "Optional. Initial holders paired by index with preMints. Provide walletAddress directly, or email when a DFNS wallet can be resolved.",
                    "items": {
                      "type": "object",
                      "properties": {
                        "walletAddress": {
                          "type": "string",
                          "description": "Optional. Holder wallet address.",
                          "example": "0x1111111111111111111111111111111111111111",
                          "pattern": "^0x[a-fA-F0-9]{40}$"
                        },
                        "email": {
                          "type": "string",
                          "description": "Optional. Holder email used to resolve a DFNS wallet when walletAddress is omitted.",
                          "example": "holder@example.com",
                          "format": "email"
                        }
                      }
                    },
                    "example": [
                      {
                        "walletAddress": "0x1111111111111111111111111111111111111111"
                      }
                    ]
                  },
                  "investmentAmount": {
                    "type": "string",
                    "description": "Required. Payment-token amount to invest.",
                    "example": "1000"
                  },
                  "investorAddress": {
                    "type": "string",
                    "description": "Optional. Investor wallet address. Required for newInvest and claimTokens; optional for approve payment-token owner scope.",
                    "example": "0x1111111111111111111111111111111111111111",
                    "pattern": "^0x[a-fA-F0-9]{40}$"
                  },
                  "investorEmail": {
                    "type": "string",
                    "description": "Optional. Investor email. Required for newInvest, claimTokens, burnToken, and each whitelist/mint recipient.",
                    "example": "investor@example.com",
                    "format": "email"
                  },
                  "maxInvestment": {
                    "type": "string",
                    "description": "Required. Maximum investment amount.",
                    "example": "10000"
                  },
                  "maxRaiseUSD": {
                    "type": "string",
                    "description": "Required. Maximum raise amount in USD.",
                    "example": "100000"
                  },
                  "minInvestment": {
                    "type": "string",
                    "description": "Required. Minimum investment amount.",
                    "example": "100"
                  },
                  "minRaiseUSD": {
                    "type": "string",
                    "description": "Required. Minimum raise amount in USD.",
                    "example": "10000"
                  },
                  "name": {
                    "type": "string",
                    "description": "Required. Name of the tokenized asset.",
                    "example": "Example Token"
                  },
                  "newInvestor": {
                    "type": "object",
                    "description": "Optional. Default profile data used when creating missing investor users.",
                    "properties": {
                      "name": {
                        "type": "string",
                        "description": "Optional. Investor first name.",
                        "example": "John"
                      },
                      "surname": {
                        "type": "string",
                        "description": "Optional. Investor surname.",
                        "example": "Doe"
                      },
                      "middleName": {
                        "type": "string",
                        "description": "Optional. Investor middle name.",
                        "example": "A."
                      },
                      "secondSurname": {
                        "type": "string",
                        "description": "Optional. Investor second surname.",
                        "example": "Smith"
                      },
                      "type": {
                        "type": "string",
                        "description": "Optional. Investor type. Defaults to INVESTOR_PERSON.",
                        "example": "INVESTOR_PERSON"
                      }
                    }
                  },
                  "offeringName": {
                    "type": "string",
                    "description": "Required. Name of the STO offering.",
                    "example": "Series A"
                  },
                  "paymentTokenSymbol": {
                    "type": "string",
                    "description": "Optional. Payment token symbol used by newInvest. If omitted, the chain default payment token is used.",
                    "example": "USDT"
                  },
                  "preMints": {
                    "type": "array",
                    "description": "Optional. Pre-mint amounts. If provided, initialHolders must also be provided with the same length.",
                    "items": {
                      "type": "object",
                      "required": [
                        "amount"
                      ],
                      "properties": {
                        "amount": {
                          "type": "string",
                          "description": "Required. Amount to pre-mint to the holder at the same array index.",
                          "example": "1000"
                        }
                      }
                    },
                    "example": [
                      {
                        "amount": "1000"
                      }
                    ]
                  },
                  "privateRpcUrl": {
                    "type": "string",
                    "description": "Optional. Private RPC URL override. If omitted, the API uses the configured RPC for chainId.",
                    "example": "https://rpc.example.com"
                  },
                  "spenderAddress": {
                    "type": "string",
                    "description": "Optional. Spender address required by approve.",
                    "example": "0x3333333333333333333333333333333333333333",
                    "pattern": "^0x[a-fA-F0-9]{40}$"
                  },
                  "startDate": {
                    "type": "string",
                    "description": "Required. STO start date.",
                    "example": "2026-09-01T00:00:00.000Z",
                    "format": "date-time"
                  },
                  "supplyCap": {
                    "type": "string",
                    "description": "Optional. Maximum token supply. Defaults to `0` when omitted.",
                    "example": "1000000"
                  },
                  "to": {
                    "type": "string",
                    "description": "Optional. Destination address required by transferFrom and transferTo.",
                    "example": "0x2222222222222222222222222222222222222222",
                    "pattern": "^0x[a-fA-F0-9]{40}$"
                  },
                  "tokenAmount": {
                    "type": "string",
                    "description": "Required. Number of tokens offered in the STO.",
                    "example": "1000"
                  },
                  "tokenizerAddress": {
                    "type": "string",
                    "description": "Optional. Tokenizer wallet address used by tokenization setup flows when provided.",
                    "example": "0x4444444444444444444444444444444444444444",
                    "pattern": "^0x[a-fA-F0-9]{40}$"
                  },
                  "url": {
                    "type": "string",
                    "description": "Optional. Token documentation URL. Defaults to an empty string when omitted.",
                    "example": "https://example.com/token-docs"
                  },
                  "userToMint": {
                    "type": "array",
                    "minItems": 1,
                    "description": "Required. Users to mint tokens to.",
                    "items": {
                      "type": "object",
                      "required": [
                        "investorEmail",
                        "amount"
                      ],
                      "properties": {
                        "investorEmail": {
                          "type": "string",
                          "description": "Required. Recipient investor email.",
                          "example": "investor@example.com",
                          "format": "email"
                        },
                        "amount": {
                          "type": "string",
                          "description": "Required. Positive whole-token amount to mint.",
                          "example": "100"
                        },
                        "investorAddress": {
                          "type": "string",
                          "description": "Optional. Recipient wallet address. If omitted, the API attempts to create or resolve a DFNS wallet.",
                          "example": "0x1111111111111111111111111111111111111111",
                          "pattern": "^0x[a-fA-F0-9]{40}$"
                        },
                        "needWhitelist": {
                          "type": "boolean",
                          "description": "Optional. Whether the recipient should be whitelisted before minting. Defaults to true unless explicitly false.",
                          "example": true
                        },
                        "name": {
                          "type": "string",
                          "description": "Optional. Investor first name used when creating a new investor record.",
                          "example": "John"
                        },
                        "surname": {
                          "type": "string",
                          "description": "Optional. Investor surname used when creating a new investor record.",
                          "example": "Doe"
                        }
                      }
                    },
                    "example": [
                      {
                        "investorEmail": "investor@example.com",
                        "investorAddress": "0x1111111111111111111111111111111111111111",
                        "amount": "100",
                        "needWhitelist": true
                      }
                    ]
                  },
                  "userToWhitelist": {
                    "type": "array",
                    "minItems": 1,
                    "description": "Required. Users to whitelist or blacklist.",
                    "items": {
                      "type": "object",
                      "required": [
                        "investorAddress",
                        "investorEmail",
                        "whitelistStatus"
                      ],
                      "properties": {
                        "investorAddress": {
                          "type": "string",
                          "description": "Required. Investor wallet address.",
                          "example": "0x1111111111111111111111111111111111111111",
                          "pattern": "^0x[a-fA-F0-9]{40}$"
                        },
                        "investorEmail": {
                          "type": "string",
                          "description": "Required. Investor email used for the investor record.",
                          "example": "investor@example.com",
                          "format": "email"
                        },
                        "whitelistStatus": {
                          "type": "boolean",
                          "description": "Required. `true` to whitelist, `false` to blacklist.",
                          "example": true
                        }
                      }
                    },
                    "example": [
                      {
                        "investorAddress": "0x1111111111111111111111111111111111111111",
                        "investorEmail": "investor@example.com",
                        "whitelistStatus": true
                      }
                    ]
                  },
                  "ownerEmail": {
                    "type": "string",
                    "example": "owner@example.com",
                    "description": "Tokenizer owner email used by agentic methods."
                  },
                  "email": {
                    "type": "string",
                    "example": "reviewer@example.com",
                    "description": "Tracking email used by feedback and agent token methods."
                  },
                  "services": {
                    "type": "array",
                    "items": {
                      "type": "object"
                    },
                    "description": "Agent service descriptors used by agentRegister."
                  },
                  "metadata": {
                    "type": "object",
                    "description": "Agent metadata stored in the registration file."
                  },
                  "aiModelName": {
                    "type": "string",
                    "example": "gpt-4o",
                    "description": "AI model name for agent registration or metadata updates."
                  },
                  "aiModelProvider": {
                    "type": "string",
                    "example": "openai",
                    "description": "AI model provider stored in the agent profile."
                  },
                  "agentUuid": {
                    "type": "string",
                    "description": "Internal tokenized agent UUID returned by agentRegister."
                  },
                  "agentId": {
                    "oneOf": [
                      {
                        "type": "string"
                      },
                      {
                        "type": "number"
                      }
                    ],
                    "description": "On-chain ERC-8004 agent ID."
                  },
                  "metadataKey": {
                    "type": "string",
                    "example": "modelName",
                    "description": "Metadata key used by agentSetMetadata."
                  },
                  "metadataValue": {
                    "description": "Metadata value used by agentSetMetadata."
                  },
                  "metadataEncoding": {
                    "type": "string",
                    "enum": [
                      "string",
                      "json",
                      "hex"
                    ],
                    "description": "Encoding mode for agentSetMetadata."
                  },
                  "newWallet": {
                    "type": "string",
                    "description": "Agent wallet assigned by agentSetWallet."
                  },
                  "signature": {
                    "type": "string",
                    "description": "Hex signature used by agentSetWallet."
                  },
                  "deadline": {
                    "oneOf": [
                      {
                        "type": "string"
                      },
                      {
                        "type": "number"
                      }
                    ],
                    "description": "Signature deadline used by agentSetWallet."
                  },
                  "feedbackIndex": {
                    "oneOf": [
                      {
                        "type": "string"
                      },
                      {
                        "type": "number"
                      }
                    ],
                    "description": "Feedback index used by reputation methods."
                  },
                  "clientAddress": {
                    "type": "string",
                    "description": "Reviewer/client address used by agentAppendFeedbackResponse."
                  },
                  "responseURI": {
                    "type": "string",
                    "description": "Off-chain response URI used by agentAppendFeedbackResponse."
                  },
                  "feedbackURI": {
                    "type": "string",
                    "description": "Off-chain feedback URI used by agentGiveFeedback."
                  },
                  "feedbackHash": {
                    "type": "string",
                    "description": "Optional 32-byte content hash for feedback."
                  },
                  "responseHash": {
                    "type": "string",
                    "description": "Optional 32-byte content hash for a feedback response."
                  },
                  "agentWallet": {
                    "type": "string",
                    "description": "Operational agent wallet used by agentCreateToken."
                  },
                  "symbol": {
                    "type": "string",
                    "example": "MAT",
                    "description": "Agent token symbol used by agentCreateToken."
                  },
                  "premint": {
                    "type": "string",
                    "description": "Human-readable premint amount used by agentCreateToken."
                  },
                  "decimals": {
                    "type": "number",
                    "description": "Agent token decimals. Defaults to 18."
                  },
                  "tokenAddress": {
                    "type": "string",
                    "description": "Deployed agent token address used by agentMintToken and agentBurnToken."
                  },
                  "x402Support": {
                    "type": "boolean",
                    "description": "Whether the registered agent declares x402 support in its profile."
                  },
                  "active": {
                    "type": "boolean",
                    "description": "Whether the registered agent should appear active."
                  },
                  "nonce": {
                    "type": "integer",
                    "description": "Optional. Nonce override. If omitted, the API reads the pending nonce from the RPC.",
                    "example": 12
                  },
                  "paymentTokenAddress": {
                    "type": "string",
                    "description": "Optional. Payment token contract address override. If omitted, the chain default payment token is used.",
                    "example": "0x5555555555555555555555555555555555555555",
                    "pattern": "^0x[a-fA-F0-9]{40}$"
                  }
                },
                "required": [
                  "method",
                  "chainId"
                ],
                "example": {
                  "method": "newTokenization",
                  "signerAddress": "0x742d35Cc6634C0532925a3b8D4C9db96c4b4d8b",
                  "chainId": "aa36a7",
                  "tokenizerEmail": "tokenizer@example.com",
                  "name": "Example Token",
                  "tokenSymbol": "EXMPL",
                  "tokenType": "EQUITY",
                  "supplyCap": "1000000",
                  "url": "https://example.com/token-docs",
                  "preMints": [
                    {
                      "amount": "1000"
                    }
                  ],
                  "initialHolders": [
                    {
                      "walletAddress": "0x1111111111111111111111111111111111111111"
                    }
                  ]
                }
              },
              "example": {
                "method": "newTokenization",
                "signerAddress": "0x742d35Cc6634C0532925a3b8D4C9db96c4b4d8b",
                "chainId": "aa36a7",
                "tokenizerEmail": "tokenizer@example.com",
                "name": "Example Token",
                "tokenSymbol": "EXMPL",
                "tokenType": "EQUITY",
                "supplyCap": "1000000",
                "url": "https://example.com/token-docs",
                "preMints": [
                  {
                    "amount": "1000"
                  }
                ],
                "initialHolders": [
                  {
                    "walletAddress": "0x1111111111111111111111111111111111111111"
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "transactions": {
                      "type": "array",
                      "description": "Array of unsigned transaction objects ready for signing",
                      "items": {
                        "type": "object",
                        "properties": {
                          "from": {
                            "type": "string",
                            "description": "Sender address",
                            "example": "0x1234567890abcdef1234567890abcdef12345678"
                          },
                          "to": {
                            "type": "string",
                            "description": "Recipient address",
                            "example": "0xabcdef1234567890abcdef1234567890abcdef12"
                          },
                          "value": {
                            "type": "string",
                            "description": "Transaction value in hex",
                            "example": "0x00"
                          },
                          "nonce": {
                            "type": "integer",
                            "description": "Transaction nonce",
                            "example": 3792
                          },
                          "chainId": {
                            "type": "integer",
                            "description": "Blockchain network chain ID",
                            "example": 11155111
                          },
                          "data": {
                            "type": "string",
                            "description": "Transaction data payload",
                            "example": "0xd362e8a70000000000000000000000000000000000000000000000000000000000000040..."
                          },
                          "type": {
                            "type": "integer",
                            "description": "Transaction type (EIP-1559)",
                            "example": 2
                          },
                          "maxPriorityFeePerGas": {
                            "type": "string",
                            "description": "Maximum priority fee per gas",
                            "example": "1150000"
                          },
                          "maxFeePerGas": {
                            "type": "string",
                            "description": "Maximum fee per gas",
                            "example": "1156037"
                          },
                          "gasLimit": {
                            "type": "string",
                            "description": "Gas limit in hex",
                            "example": "0xccef"
                          }
                        }
                      }
                    },
                    "info": {
                      "type": "object",
                      "description": "Metadata about the operation",
                      "properties": {
                        "tokenizerEmail": {
                          "type": "string",
                          "description": "Email of the tokenizer",
                          "example": "tokenizer@example.com"
                        },
                        "tokenSymbol": {
                          "type": "string",
                          "description": "Symbol of the token",
                          "example": "EXMPL"
                        },
                        "investorEmail": {
                          "type": "string",
                          "description": "Email of the investor (when applicable)",
                          "example": "investor@example.com"
                        }
                      }
                    },
                    "txId": {
                      "type": "string",
                      "description": "Unique identifier for this transaction batch (required for /send-transactions). This is NOT a blockchain transaction hash.",
                      "example": "0x46adea7bdf49c576a760102e0d6bc9ecd650b3998588cd3d7f576a7973426aad"
                    }
                  },
                  "required": [
                    "transactions",
                    "txId"
                  ]
                }
              }
            }
          },
          "402": {
            "description": "x402 payment required. The response includes a PAYMENT-REQUIRED header with a base64-encoded x402 payment request."
          }
        }
      }
    },
    "/prepare-transactions/newTokenization": {
      "post": {
        "summary": "newTokenization",
        "tags": [
          "Endpoints",
          "Prepare Transactions"
        ],
        "description": "Prepares unsigned transactions for the newTokenization method.",
        "security": [
          {
            "apiKeyAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "description": "Request body for newTokenization. Required fields are method, chainId, signerAddress, tokenizerEmail, name, and tokenSymbol.",
                "required": [
                  "method",
                  "signerAddress",
                  "chainId",
                  "tokenizerEmail",
                  "name",
                  "tokenSymbol"
                ],
                "properties": {
                  "method": {
                    "type": "string",
                    "enum": [
                      "newTokenization"
                    ],
                    "description": "Required. Must be `newTokenization`."
                  },
                  "signerAddress": {
                    "type": "string",
                    "description": "Required. Wallet address that will sign the prepared transaction."
                  },
                  "chainId": {
                    "type": "string",
                    "description": "Required. Blockchain network identifier. Hex format is recommended, for example Sepolia `aa36a7`."
                  },
                  "tokenizerEmail": {
                    "type": "string",
                    "description": "Required. Tokenizer email. The tokenizer user must already exist.",
                    "format": "email"
                  },
                  "name": {
                    "type": "string",
                    "description": "Required. Name of the tokenized asset."
                  },
                  "tokenSymbol": {
                    "type": "string",
                    "description": "Required. Token symbol. Must be 2 to 5 uppercase letters or numbers."
                  },
                  "tokenType": {
                    "type": "string",
                    "enum": [
                      "EQUITY",
                      "DEBT",
                      "BILL_FACTORING",
                      "ICO",
                      "STABLECOIN",
                      "REVENUE_SHARE",
                      "RWA_TOKEN",
                      "PROFIT_SHARING"
                    ],
                    "description": "Optional. Token type. Defaults to EQUITY when omitted."
                  },
                  "supplyCap": {
                    "type": "string",
                    "description": "Optional. Maximum token supply. Defaults to `0` when omitted."
                  },
                  "url": {
                    "type": "string",
                    "description": "Optional. Token documentation URL. Defaults to an empty string when omitted."
                  },
                  "tokenizerAddress": {
                    "type": "string",
                    "description": "Optional. Tokenizer wallet address used by tokenization setup flows when provided.",
                    "pattern": "^0x[a-fA-F0-9]{40}$"
                  },
                  "paymentTokenAddress": {
                    "type": "string",
                    "description": "Optional. Payment token contract address override. If omitted, the chain default payment token is used.",
                    "pattern": "^0x[a-fA-F0-9]{40}$"
                  },
                  "preMints": {
                    "type": "array",
                    "description": "Optional. Pre-mint amounts. If provided, initialHolders must also be provided with the same length.",
                    "items": {
                      "type": "object",
                      "required": [
                        "amount"
                      ],
                      "properties": {
                        "amount": {
                          "type": "string",
                          "description": "Required. Amount to pre-mint to the holder at the same array index."
                        }
                      }
                    }
                  },
                  "initialHolders": {
                    "type": "array",
                    "description": "Optional. Initial holders paired by index with preMints. Provide walletAddress directly, or email when a DFNS wallet can be resolved.",
                    "items": {
                      "type": "object",
                      "properties": {
                        "walletAddress": {
                          "type": "string",
                          "description": "Optional. Holder wallet address.",
                          "pattern": "^0x[a-fA-F0-9]{40}$"
                        },
                        "email": {
                          "type": "string",
                          "description": "Optional. Holder email used to resolve a DFNS wallet when walletAddress is omitted.",
                          "format": "email"
                        }
                      }
                    }
                  },
                  "gasLimit": {
                    "type": "string",
                    "description": "Optional. Gas limit override. If omitted, the API estimates gas automatically."
                  },
                  "privateRpcUrl": {
                    "type": "string",
                    "description": "Optional. Private RPC URL override. If omitted, the API uses the configured RPC for chainId."
                  },
                  "nonce": {
                    "type": "integer",
                    "description": "Optional. Nonce override. If omitted, the API reads the pending nonce from the RPC."
                  }
                },
                "example": {
                  "method": "newTokenization",
                  "signerAddress": "0x742d35Cc6634C0532925a3b8D4C9db96c4b4d8b",
                  "chainId": "aa36a7",
                  "tokenizerEmail": "tokenizer@example.com",
                  "name": "Example Token",
                  "tokenSymbol": "EXMPL",
                  "tokenType": "EQUITY",
                  "supplyCap": "1000000",
                  "url": "https://example.com/token-docs",
                  "preMints": [
                    {
                      "amount": "1000"
                    }
                  ],
                  "initialHolders": [
                    {
                      "walletAddress": "0x1111111111111111111111111111111111111111"
                    }
                  ]
                }
              },
              "example": {
                "method": "newTokenization",
                "signerAddress": "0x742d35Cc6634C0532925a3b8D4C9db96c4b4d8b",
                "chainId": "aa36a7",
                "tokenizerEmail": "tokenizer@example.com",
                "name": "Example Token",
                "tokenSymbol": "EXMPL",
                "tokenType": "EQUITY",
                "supplyCap": "1000000",
                "url": "https://example.com/token-docs",
                "preMints": [
                  {
                    "amount": "1000"
                  }
                ],
                "initialHolders": [
                  {
                    "walletAddress": "0x1111111111111111111111111111111111111111"
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "transactions": {
                      "type": "array",
                      "items": {
                        "type": "object"
                      }
                    },
                    "txId": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "transactions",
                    "txId"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/prepare-transactions/mintToken": {
      "post": {
        "summary": "mintToken",
        "tags": [
          "Endpoints",
          "Prepare Transactions"
        ],
        "description": "Prepares unsigned transactions for the mintToken method.",
        "security": [
          {
            "apiKeyAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "description": "Request body for mintToken. userToMint must contain at least one recipient.",
                "required": [
                  "method",
                  "signerAddress",
                  "chainId",
                  "tokenSymbol",
                  "userToMint"
                ],
                "properties": {
                  "method": {
                    "type": "string",
                    "enum": [
                      "mintToken"
                    ],
                    "description": "Required. Must be `mintToken`."
                  },
                  "signerAddress": {
                    "type": "string",
                    "description": "Required. Wallet address that will sign the prepared transaction."
                  },
                  "chainId": {
                    "type": "string",
                    "description": "Required. Blockchain network identifier. Hex format is recommended, for example Sepolia `aa36a7`."
                  },
                  "tokenSymbol": {
                    "type": "string",
                    "description": "Required. Token symbol. Must be 2 to 5 uppercase letters or numbers."
                  },
                  "userToMint": {
                    "type": "array",
                    "minItems": 1,
                    "description": "Required. Users to mint tokens to.",
                    "items": {
                      "type": "object",
                      "required": [
                        "investorEmail",
                        "amount"
                      ],
                      "properties": {
                        "investorEmail": {
                          "type": "string",
                          "description": "Required. Recipient investor email.",
                          "format": "email"
                        },
                        "amount": {
                          "type": "string",
                          "description": "Required. Positive whole-token amount to mint."
                        },
                        "investorAddress": {
                          "type": "string",
                          "description": "Optional. Recipient wallet address. If omitted, the API attempts to create or resolve a DFNS wallet.",
                          "pattern": "^0x[a-fA-F0-9]{40}$"
                        },
                        "needWhitelist": {
                          "type": "boolean",
                          "description": "Optional. Whether the recipient should be whitelisted before minting. Defaults to true unless explicitly false."
                        },
                        "name": {
                          "type": "string",
                          "description": "Optional. Investor first name used when creating a new investor record."
                        },
                        "surname": {
                          "type": "string",
                          "description": "Optional. Investor surname used when creating a new investor record."
                        }
                      }
                    }
                  },
                  "gasLimit": {
                    "type": "string",
                    "description": "Optional. Gas limit override. If omitted, the API estimates gas automatically."
                  },
                  "privateRpcUrl": {
                    "type": "string",
                    "description": "Optional. Private RPC URL override. If omitted, the API uses the configured RPC for chainId."
                  },
                  "nonce": {
                    "type": "integer",
                    "description": "Optional. Nonce override. If omitted, the API reads the pending nonce from the RPC."
                  }
                },
                "example": {
                  "method": "mintToken",
                  "signerAddress": "0x742d35Cc6634C0532925a3b8D4C9db96c4b4d8b",
                  "chainId": "aa36a7",
                  "tokenSymbol": "EXMPL",
                  "userToMint": [
                    {
                      "investorEmail": "investor@example.com",
                      "investorAddress": "0x1111111111111111111111111111111111111111",
                      "amount": "100",
                      "needWhitelist": true
                    }
                  ]
                }
              },
              "example": {
                "method": "mintToken",
                "signerAddress": "0x742d35Cc6634C0532925a3b8D4C9db96c4b4d8b",
                "chainId": "aa36a7",
                "tokenSymbol": "EXMPL",
                "userToMint": [
                  {
                    "investorEmail": "investor@example.com",
                    "investorAddress": "0x1111111111111111111111111111111111111111",
                    "amount": "100",
                    "needWhitelist": true
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "transactions": {
                      "type": "array",
                      "items": {
                        "type": "object"
                      }
                    },
                    "txId": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "transactions",
                    "txId"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/prepare-transactions/whitelist": {
      "post": {
        "summary": "whitelist",
        "tags": [
          "Endpoints",
          "Prepare Transactions"
        ],
        "description": "Prepares unsigned transactions for the whitelist method.",
        "security": [
          {
            "apiKeyAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "description": "Request body for whitelist. userToWhitelist must contain at least one investor address and target status.",
                "required": [
                  "method",
                  "signerAddress",
                  "chainId",
                  "tokenSymbol",
                  "userToWhitelist"
                ],
                "properties": {
                  "method": {
                    "type": "string",
                    "enum": [
                      "whitelist"
                    ],
                    "description": "Required. Must be `whitelist`."
                  },
                  "signerAddress": {
                    "type": "string",
                    "description": "Required. Wallet address that will sign the prepared transaction."
                  },
                  "chainId": {
                    "type": "string",
                    "description": "Required. Blockchain network identifier. Hex format is recommended, for example Sepolia `aa36a7`."
                  },
                  "tokenSymbol": {
                    "type": "string",
                    "description": "Required. Token symbol. Must be 2 to 5 uppercase letters or numbers."
                  },
                  "userToWhitelist": {
                    "type": "array",
                    "minItems": 1,
                    "description": "Required. Users to whitelist or blacklist.",
                    "items": {
                      "type": "object",
                      "required": [
                        "investorAddress",
                        "investorEmail",
                        "whitelistStatus"
                      ],
                      "properties": {
                        "investorAddress": {
                          "type": "string",
                          "description": "Required. Investor wallet address.",
                          "pattern": "^0x[a-fA-F0-9]{40}$"
                        },
                        "investorEmail": {
                          "type": "string",
                          "description": "Required. Investor email used for the investor record.",
                          "format": "email"
                        },
                        "whitelistStatus": {
                          "type": "boolean",
                          "description": "Required. `true` to whitelist, `false` to blacklist."
                        }
                      }
                    }
                  },
                  "newInvestor": {
                    "type": "object",
                    "description": "Optional. Default profile data used when creating missing investor users.",
                    "properties": {
                      "name": {
                        "type": "string",
                        "description": "Optional. Investor first name."
                      },
                      "surname": {
                        "type": "string",
                        "description": "Optional. Investor surname."
                      },
                      "middleName": {
                        "type": "string",
                        "description": "Optional. Investor middle name."
                      },
                      "secondSurname": {
                        "type": "string",
                        "description": "Optional. Investor second surname."
                      },
                      "type": {
                        "type": "string",
                        "description": "Optional. Investor type. Defaults to INVESTOR_PERSON."
                      }
                    }
                  },
                  "gasLimit": {
                    "type": "string",
                    "description": "Optional. Gas limit override. If omitted, the API estimates gas automatically."
                  },
                  "privateRpcUrl": {
                    "type": "string",
                    "description": "Optional. Private RPC URL override. If omitted, the API uses the configured RPC for chainId."
                  },
                  "nonce": {
                    "type": "integer",
                    "description": "Optional. Nonce override. If omitted, the API reads the pending nonce from the RPC."
                  }
                },
                "example": {
                  "method": "whitelist",
                  "signerAddress": "0x742d35Cc6634C0532925a3b8D4C9db96c4b4d8b",
                  "chainId": "aa36a7",
                  "tokenSymbol": "EXMPL",
                  "userToWhitelist": [
                    {
                      "investorAddress": "0x1111111111111111111111111111111111111111",
                      "investorEmail": "investor@example.com",
                      "whitelistStatus": true
                    }
                  ]
                }
              },
              "example": {
                "method": "whitelist",
                "signerAddress": "0x742d35Cc6634C0532925a3b8D4C9db96c4b4d8b",
                "chainId": "aa36a7",
                "tokenSymbol": "EXMPL",
                "userToWhitelist": [
                  {
                    "investorAddress": "0x1111111111111111111111111111111111111111",
                    "investorEmail": "investor@example.com",
                    "whitelistStatus": true
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "transactions": {
                      "type": "array",
                      "items": {
                        "type": "object"
                      }
                    },
                    "txId": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "transactions",
                    "txId"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/prepare-transactions/burnToken": {
      "post": {
        "summary": "burnToken",
        "tags": [
          "Endpoints",
          "Prepare Transactions"
        ],
        "description": "Prepares unsigned transactions for the burnToken method.",
        "security": [
          {
            "apiKeyAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "description": "Request body for burnToken.",
                "required": [
                  "method",
                  "signerAddress",
                  "chainId",
                  "tokenSymbol",
                  "amount",
                  "investorEmail"
                ],
                "properties": {
                  "method": {
                    "type": "string",
                    "enum": [
                      "burnToken"
                    ],
                    "description": "Required. Must be `burnToken`."
                  },
                  "signerAddress": {
                    "type": "string",
                    "description": "Required. Wallet address that will sign the prepared transaction."
                  },
                  "chainId": {
                    "type": "string",
                    "description": "Required. Blockchain network identifier. Hex format is recommended, for example Sepolia `aa36a7`."
                  },
                  "tokenSymbol": {
                    "type": "string",
                    "description": "Required. Token symbol. Must be 2 to 5 uppercase letters or numbers."
                  },
                  "amount": {
                    "type": "string",
                    "description": "Required. Amount of tokens to burn."
                  },
                  "investorEmail": {
                    "type": "string",
                    "description": "Required. Email of the investor burning tokens.",
                    "format": "email"
                  },
                  "gasLimit": {
                    "type": "string",
                    "description": "Optional. Gas limit override. If omitted, the API estimates gas automatically."
                  },
                  "privateRpcUrl": {
                    "type": "string",
                    "description": "Optional. Private RPC URL override. If omitted, the API uses the configured RPC for chainId."
                  },
                  "nonce": {
                    "type": "integer",
                    "description": "Optional. Nonce override. If omitted, the API reads the pending nonce from the RPC."
                  }
                },
                "example": {
                  "method": "burnToken",
                  "signerAddress": "0x742d35Cc6634C0532925a3b8D4C9db96c4b4d8b",
                  "chainId": "aa36a7",
                  "tokenSymbol": "EXMPL",
                  "amount": "100",
                  "investorEmail": "investor@example.com"
                }
              },
              "example": {
                "method": "burnToken",
                "signerAddress": "0x742d35Cc6634C0532925a3b8D4C9db96c4b4d8b",
                "chainId": "aa36a7",
                "tokenSymbol": "EXMPL",
                "amount": "100",
                "investorEmail": "investor@example.com"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "transactions": {
                      "type": "array",
                      "items": {
                        "type": "object"
                      }
                    },
                    "txId": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "transactions",
                    "txId"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/prepare-transactions/transferFrom": {
      "post": {
        "summary": "transferFrom",
        "tags": [
          "Endpoints",
          "Prepare Transactions"
        ],
        "description": "Prepares unsigned transactions for the transferFrom method.",
        "security": [
          {
            "apiKeyAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "description": "Request body for transferFrom.",
                "required": [
                  "method",
                  "signerAddress",
                  "chainId",
                  "tokenSymbol",
                  "from",
                  "to",
                  "amount"
                ],
                "properties": {
                  "method": {
                    "type": "string",
                    "enum": [
                      "transferFrom"
                    ],
                    "description": "Required. Must be `transferFrom`."
                  },
                  "signerAddress": {
                    "type": "string",
                    "description": "Required. Wallet address that will sign the prepared transaction."
                  },
                  "chainId": {
                    "type": "string",
                    "description": "Required. Blockchain network identifier. Hex format is recommended, for example Sepolia `aa36a7`."
                  },
                  "tokenSymbol": {
                    "type": "string",
                    "description": "Required. Token symbol. Must be 2 to 5 uppercase letters or numbers."
                  },
                  "from": {
                    "type": "string",
                    "description": "Required. Owner address to transfer from. This address must have approved signerAddress.",
                    "pattern": "^0x[a-fA-F0-9]{40}$"
                  },
                  "to": {
                    "type": "string",
                    "description": "Required. Recipient address.",
                    "pattern": "^0x[a-fA-F0-9]{40}$"
                  },
                  "amount": {
                    "type": "string",
                    "description": "Required. Amount of tokens to transfer."
                  },
                  "gasLimit": {
                    "type": "string",
                    "description": "Optional. Gas limit override. If omitted, the API estimates gas automatically."
                  },
                  "privateRpcUrl": {
                    "type": "string",
                    "description": "Optional. Private RPC URL override. If omitted, the API uses the configured RPC for chainId."
                  },
                  "nonce": {
                    "type": "integer",
                    "description": "Optional. Nonce override. If omitted, the API reads the pending nonce from the RPC."
                  }
                },
                "example": {
                  "method": "transferFrom",
                  "signerAddress": "0x742d35Cc6634C0532925a3b8D4C9db96c4b4d8b",
                  "chainId": "aa36a7",
                  "tokenSymbol": "EXMPL",
                  "from": "0x1111111111111111111111111111111111111111",
                  "to": "0x2222222222222222222222222222222222222222",
                  "amount": "100"
                }
              },
              "example": {
                "method": "transferFrom",
                "signerAddress": "0x742d35Cc6634C0532925a3b8D4C9db96c4b4d8b",
                "chainId": "aa36a7",
                "tokenSymbol": "EXMPL",
                "from": "0x1111111111111111111111111111111111111111",
                "to": "0x2222222222222222222222222222222222222222",
                "amount": "100"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "transactions": {
                      "type": "array",
                      "items": {
                        "type": "object"
                      }
                    },
                    "txId": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "transactions",
                    "txId"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/prepare-transactions/transferTo": {
      "post": {
        "summary": "transferTo",
        "tags": [
          "Endpoints",
          "Prepare Transactions"
        ],
        "description": "Prepares unsigned transactions for the transferTo method.",
        "security": [
          {
            "apiKeyAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "description": "Request body for transferTo.",
                "required": [
                  "method",
                  "signerAddress",
                  "chainId",
                  "tokenSymbol",
                  "to",
                  "amount"
                ],
                "properties": {
                  "method": {
                    "type": "string",
                    "enum": [
                      "transferTo"
                    ],
                    "description": "Required. Must be `transferTo`."
                  },
                  "signerAddress": {
                    "type": "string",
                    "description": "Required. Wallet address that will sign the prepared transaction."
                  },
                  "chainId": {
                    "type": "string",
                    "description": "Required. Blockchain network identifier. Hex format is recommended, for example Sepolia `aa36a7`."
                  },
                  "tokenSymbol": {
                    "type": "string",
                    "description": "Required. Token symbol. Must be 2 to 5 uppercase letters or numbers."
                  },
                  "to": {
                    "type": "string",
                    "description": "Required. Recipient address.",
                    "pattern": "^0x[a-fA-F0-9]{40}$"
                  },
                  "amount": {
                    "type": "string",
                    "description": "Required. Amount of tokens to transfer."
                  },
                  "gasLimit": {
                    "type": "string",
                    "description": "Optional. Gas limit override. If omitted, the API estimates gas automatically."
                  },
                  "privateRpcUrl": {
                    "type": "string",
                    "description": "Optional. Private RPC URL override. If omitted, the API uses the configured RPC for chainId."
                  },
                  "nonce": {
                    "type": "integer",
                    "description": "Optional. Nonce override. If omitted, the API reads the pending nonce from the RPC."
                  }
                },
                "example": {
                  "method": "transferTo",
                  "signerAddress": "0x742d35Cc6634C0532925a3b8D4C9db96c4b4d8b",
                  "chainId": "aa36a7",
                  "tokenSymbol": "EXMPL",
                  "to": "0x2222222222222222222222222222222222222222",
                  "amount": "100"
                }
              },
              "example": {
                "method": "transferTo",
                "signerAddress": "0x742d35Cc6634C0532925a3b8D4C9db96c4b4d8b",
                "chainId": "aa36a7",
                "tokenSymbol": "EXMPL",
                "to": "0x2222222222222222222222222222222222222222",
                "amount": "100"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "transactions": {
                      "type": "array",
                      "items": {
                        "type": "object"
                      }
                    },
                    "txId": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "transactions",
                    "txId"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/prepare-transactions/approve": {
      "post": {
        "summary": "approve",
        "tags": [
          "Endpoints",
          "Prepare Transactions"
        ],
        "description": "Prepares unsigned transactions for the approve method.",
        "security": [
          {
            "apiKeyAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "description": "Request body for approve.",
                "required": [
                  "method",
                  "signerAddress",
                  "chainId",
                  "tokenSymbol",
                  "spenderAddress",
                  "amount"
                ],
                "properties": {
                  "method": {
                    "type": "string",
                    "enum": [
                      "approve"
                    ],
                    "description": "Required. Must be `approve`."
                  },
                  "signerAddress": {
                    "type": "string",
                    "description": "Required. Wallet address that will sign the prepared transaction."
                  },
                  "chainId": {
                    "type": "string",
                    "description": "Required. Blockchain network identifier. Hex format is recommended, for example Sepolia `aa36a7`."
                  },
                  "tokenSymbol": {
                    "type": "string",
                    "description": "Required. Token symbol to approve. Can be a tokenized asset symbol or a payment token symbol such as BKN, USDT, USDC, USDt, or HAI."
                  },
                  "spenderAddress": {
                    "type": "string",
                    "description": "Required. Address being approved to spend tokens.",
                    "pattern": "^0x[a-fA-F0-9]{40}$"
                  },
                  "amount": {
                    "type": "string",
                    "description": "Required. Allowance amount to approve."
                  },
                  "investorAddress": {
                    "type": "string",
                    "description": "Optional. Token owner address for payment-token approvals. Defaults to signerAddress.",
                    "pattern": "^0x[a-fA-F0-9]{40}$"
                  },
                  "tokenizerAddress": {
                    "type": "string",
                    "description": "Optional. Conditionally required when approving payment tokens (BKN, USDT, USDC, USDt, or HAI) so the API can resolve the tokenizer scope.",
                    "pattern": "^0x[a-fA-F0-9]{40}$"
                  },
                  "tokenizerEmail": {
                    "type": "string",
                    "description": "Optional. Tokenizer email override for payment-token approvals.",
                    "format": "email"
                  },
                  "investmentId": {
                    "type": "string",
                    "description": "Optional. Investment identifier to associate with this approval."
                  },
                  "gasLimit": {
                    "type": "string",
                    "description": "Optional. Gas limit override. If omitted, the API estimates gas automatically."
                  },
                  "privateRpcUrl": {
                    "type": "string",
                    "description": "Optional. Private RPC URL override. If omitted, the API uses the configured RPC for chainId."
                  },
                  "nonce": {
                    "type": "integer",
                    "description": "Optional. Nonce override. If omitted, the API reads the pending nonce from the RPC."
                  }
                },
                "example": {
                  "method": "approve",
                  "signerAddress": "0x742d35Cc6634C0532925a3b8D4C9db96c4b4d8b",
                  "chainId": "aa36a7",
                  "tokenSymbol": "USDT",
                  "spenderAddress": "0x3333333333333333333333333333333333333333",
                  "amount": "100",
                  "tokenizerAddress": "0x4444444444444444444444444444444444444444"
                }
              },
              "example": {
                "method": "approve",
                "signerAddress": "0x742d35Cc6634C0532925a3b8D4C9db96c4b4d8b",
                "chainId": "aa36a7",
                "tokenSymbol": "USDT",
                "spenderAddress": "0x3333333333333333333333333333333333333333",
                "amount": "100",
                "tokenizerAddress": "0x4444444444444444444444444444444444444444"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "transactions": {
                      "type": "array",
                      "items": {
                        "type": "object"
                      }
                    },
                    "txId": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "transactions",
                    "txId"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/prepare-transactions/dividendDistribution": {
      "post": {
        "summary": "dividendDistribution",
        "tags": [
          "Endpoints",
          "Prepare Transactions"
        ],
        "description": "Prepares unsigned transactions for the dividendDistribution method.",
        "security": [
          {
            "apiKeyAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "description": "Request body for dividendDistribution.",
                "required": [
                  "method",
                  "signerAddress",
                  "chainId",
                  "tokenSymbol",
                  "amount"
                ],
                "properties": {
                  "method": {
                    "type": "string",
                    "enum": [
                      "dividendDistribution"
                    ],
                    "description": "Required. Must be `dividendDistribution`."
                  },
                  "signerAddress": {
                    "type": "string",
                    "description": "Required. Wallet address that will sign the prepared transaction."
                  },
                  "chainId": {
                    "type": "string",
                    "description": "Required. Blockchain network identifier. Hex format is recommended, for example Sepolia `aa36a7`."
                  },
                  "tokenSymbol": {
                    "type": "string",
                    "description": "Required. Token symbol. Must be 2 to 5 uppercase letters or numbers."
                  },
                  "amount": {
                    "type": "string",
                    "description": "Required. Amount of the token payment currency to distribute as dividends."
                  },
                  "gasLimit": {
                    "type": "string",
                    "description": "Optional. Gas limit override. If omitted, the API estimates gas automatically."
                  },
                  "privateRpcUrl": {
                    "type": "string",
                    "description": "Optional. Private RPC URL override. If omitted, the API uses the configured RPC for chainId."
                  },
                  "nonce": {
                    "type": "integer",
                    "description": "Optional. Nonce override. If omitted, the API reads the pending nonce from the RPC."
                  }
                },
                "example": {
                  "method": "dividendDistribution",
                  "signerAddress": "0x742d35Cc6634C0532925a3b8D4C9db96c4b4d8b",
                  "chainId": "aa36a7",
                  "tokenSymbol": "EXMPL",
                  "amount": "1000"
                }
              },
              "example": {
                "method": "dividendDistribution",
                "signerAddress": "0x742d35Cc6634C0532925a3b8D4C9db96c4b4d8b",
                "chainId": "aa36a7",
                "tokenSymbol": "EXMPL",
                "amount": "1000"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "transactions": {
                      "type": "array",
                      "items": {
                        "type": "object"
                      }
                    },
                    "txId": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "transactions",
                    "txId"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/prepare-transactions/newSto": {
      "post": {
        "summary": "newSto",
        "tags": [
          "Endpoints",
          "Prepare Transactions"
        ],
        "description": "Prepares unsigned transactions for the newSto method.",
        "security": [
          {
            "apiKeyAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "description": "Request body for newSto.",
                "required": [
                  "method",
                  "signerAddress",
                  "chainId",
                  "tokenizerEmail",
                  "tokenSymbol",
                  "tokenAmount",
                  "offeringName",
                  "startDate",
                  "endDate",
                  "acceptedCoin",
                  "minRaiseUSD",
                  "maxRaiseUSD",
                  "minInvestment",
                  "maxInvestment"
                ],
                "properties": {
                  "method": {
                    "type": "string",
                    "enum": [
                      "newSto"
                    ],
                    "description": "Required. Must be `newSto`."
                  },
                  "signerAddress": {
                    "type": "string",
                    "description": "Required. Wallet address that will sign the prepared transaction."
                  },
                  "chainId": {
                    "type": "string",
                    "description": "Required. Blockchain network identifier. Hex format is recommended, for example Sepolia `aa36a7`."
                  },
                  "tokenizerEmail": {
                    "type": "string",
                    "description": "Required. Tokenizer email.",
                    "format": "email"
                  },
                  "tokenSymbol": {
                    "type": "string",
                    "description": "Required. Token symbol. Must be 2 to 5 uppercase letters or numbers."
                  },
                  "tokenAmount": {
                    "type": "string",
                    "description": "Required. Number of tokens offered in the STO."
                  },
                  "offeringName": {
                    "type": "string",
                    "description": "Required. Name of the STO offering."
                  },
                  "startDate": {
                    "type": "string",
                    "description": "Required. STO start date.",
                    "format": "date-time"
                  },
                  "endDate": {
                    "type": "string",
                    "description": "Required. STO end date.",
                    "format": "date-time"
                  },
                  "acceptedCoin": {
                    "type": "string",
                    "description": "Required. Accepted payment token symbol."
                  },
                  "minRaiseUSD": {
                    "type": "string",
                    "description": "Required. Minimum raise amount in USD."
                  },
                  "maxRaiseUSD": {
                    "type": "string",
                    "description": "Required. Maximum raise amount in USD."
                  },
                  "minInvestment": {
                    "type": "string",
                    "description": "Required. Minimum investment amount."
                  },
                  "maxInvestment": {
                    "type": "string",
                    "description": "Required. Maximum investment amount."
                  },
                  "gasLimit": {
                    "type": "string",
                    "description": "Optional. Gas limit override. If omitted, the API estimates gas automatically."
                  },
                  "privateRpcUrl": {
                    "type": "string",
                    "description": "Optional. Private RPC URL override. If omitted, the API uses the configured RPC for chainId."
                  },
                  "nonce": {
                    "type": "integer",
                    "description": "Optional. Nonce override. If omitted, the API reads the pending nonce from the RPC."
                  }
                },
                "example": {
                  "method": "newSto",
                  "signerAddress": "0x742d35Cc6634C0532925a3b8D4C9db96c4b4d8b",
                  "chainId": "aa36a7",
                  "tokenizerEmail": "tokenizer@example.com",
                  "tokenSymbol": "EXMPL",
                  "tokenAmount": "1000",
                  "offeringName": "Series A",
                  "startDate": "2026-09-01T00:00:00.000Z",
                  "endDate": "2026-12-31T23:59:59.000Z",
                  "acceptedCoin": "USDT",
                  "minRaiseUSD": "10000",
                  "maxRaiseUSD": "100000",
                  "minInvestment": "100",
                  "maxInvestment": "10000"
                }
              },
              "example": {
                "method": "newSto",
                "signerAddress": "0x742d35Cc6634C0532925a3b8D4C9db96c4b4d8b",
                "chainId": "aa36a7",
                "tokenizerEmail": "tokenizer@example.com",
                "tokenSymbol": "EXMPL",
                "tokenAmount": "1000",
                "offeringName": "Series A",
                "startDate": "2026-09-01T00:00:00.000Z",
                "endDate": "2026-12-31T23:59:59.000Z",
                "acceptedCoin": "USDT",
                "minRaiseUSD": "10000",
                "maxRaiseUSD": "100000",
                "minInvestment": "100",
                "maxInvestment": "10000"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "transactions": {
                      "type": "array",
                      "items": {
                        "type": "object"
                      }
                    },
                    "txId": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "transactions",
                    "txId"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/prepare-transactions/newInvest": {
      "post": {
        "summary": "newInvest",
        "tags": [
          "Endpoints",
          "Prepare Transactions"
        ],
        "description": "Prepares unsigned transactions for the newInvest method.",
        "security": [
          {
            "apiKeyAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "description": "Request body for newInvest. signerAddress is optional when investorAddress signs the transaction.",
                "required": [
                  "method",
                  "chainId",
                  "tokenSymbol",
                  "investorEmail",
                  "investorAddress",
                  "investmentAmount"
                ],
                "properties": {
                  "method": {
                    "type": "string",
                    "enum": [
                      "newInvest"
                    ],
                    "description": "Required. Must be `newInvest`."
                  },
                  "signerAddress": {
                    "type": "string",
                    "description": "Optional. Wallet address that will sign the prepared transaction. If omitted, the API uses investorAddress for this method."
                  },
                  "chainId": {
                    "type": "string",
                    "description": "Required. Blockchain network identifier. Hex format is recommended, for example Sepolia `aa36a7`."
                  },
                  "tokenSymbol": {
                    "type": "string",
                    "description": "Required. Token symbol. Must be 2 to 5 uppercase letters or numbers."
                  },
                  "investorEmail": {
                    "type": "string",
                    "description": "Required. Investor email.",
                    "format": "email"
                  },
                  "investorAddress": {
                    "type": "string",
                    "description": "Required. Investor wallet address. Used as signerAddress when signerAddress is omitted.",
                    "pattern": "^0x[a-fA-F0-9]{40}$"
                  },
                  "investmentAmount": {
                    "type": "string",
                    "description": "Required. Payment-token amount to invest."
                  },
                  "paymentTokenSymbol": {
                    "type": "string",
                    "description": "Optional. Payment token symbol. If omitted, the chain default payment token is used."
                  },
                  "gasLimit": {
                    "type": "string",
                    "description": "Optional. Gas limit override. If omitted, the API estimates gas automatically."
                  },
                  "privateRpcUrl": {
                    "type": "string",
                    "description": "Optional. Private RPC URL override. If omitted, the API uses the configured RPC for chainId."
                  },
                  "nonce": {
                    "type": "integer",
                    "description": "Optional. Nonce override. If omitted, the API reads the pending nonce from the RPC."
                  }
                },
                "example": {
                  "method": "newInvest",
                  "chainId": "aa36a7",
                  "tokenSymbol": "EXMPL",
                  "investorEmail": "investor@example.com",
                  "investorAddress": "0x1111111111111111111111111111111111111111",
                  "investmentAmount": "1000",
                  "paymentTokenSymbol": "USDT"
                }
              },
              "example": {
                "method": "newInvest",
                "chainId": "aa36a7",
                "tokenSymbol": "EXMPL",
                "investorEmail": "investor@example.com",
                "investorAddress": "0x1111111111111111111111111111111111111111",
                "investmentAmount": "1000",
                "paymentTokenSymbol": "USDT"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "transactions": {
                      "type": "array",
                      "items": {
                        "type": "object"
                      }
                    },
                    "txId": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "transactions",
                    "txId"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/prepare-transactions/claimTokens": {
      "post": {
        "summary": "claimTokens",
        "tags": [
          "Endpoints",
          "Prepare Transactions"
        ],
        "description": "Prepares unsigned transactions for the claimTokens method.",
        "security": [
          {
            "apiKeyAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "description": "Request body for claimTokens. signerAddress is optional when investorAddress signs the transaction.",
                "required": [
                  "method",
                  "chainId",
                  "tokenSymbol",
                  "investorEmail",
                  "investorAddress"
                ],
                "properties": {
                  "method": {
                    "type": "string",
                    "enum": [
                      "claimTokens"
                    ],
                    "description": "Required. Must be `claimTokens`."
                  },
                  "signerAddress": {
                    "type": "string",
                    "description": "Optional. Wallet address that will sign the prepared transaction. If omitted, the API uses investorAddress for this method."
                  },
                  "chainId": {
                    "type": "string",
                    "description": "Required. Blockchain network identifier. Hex format is recommended, for example Sepolia `aa36a7`."
                  },
                  "tokenSymbol": {
                    "type": "string",
                    "description": "Required. Token symbol. Must be 2 to 5 uppercase letters or numbers."
                  },
                  "investorEmail": {
                    "type": "string",
                    "description": "Required. Investor email.",
                    "format": "email"
                  },
                  "investorAddress": {
                    "type": "string",
                    "description": "Required. Investor wallet address. Used as signerAddress when signerAddress is omitted.",
                    "pattern": "^0x[a-fA-F0-9]{40}$"
                  },
                  "gasLimit": {
                    "type": "string",
                    "description": "Optional. Gas limit override. If omitted, the API estimates gas automatically."
                  },
                  "privateRpcUrl": {
                    "type": "string",
                    "description": "Optional. Private RPC URL override. If omitted, the API uses the configured RPC for chainId."
                  },
                  "nonce": {
                    "type": "integer",
                    "description": "Optional. Nonce override. If omitted, the API reads the pending nonce from the RPC."
                  }
                },
                "example": {
                  "method": "claimTokens",
                  "chainId": "aa36a7",
                  "tokenSymbol": "EXMPL",
                  "investorEmail": "investor@example.com",
                  "investorAddress": "0x1111111111111111111111111111111111111111"
                }
              },
              "example": {
                "method": "claimTokens",
                "chainId": "aa36a7",
                "tokenSymbol": "EXMPL",
                "investorEmail": "investor@example.com",
                "investorAddress": "0x1111111111111111111111111111111111111111"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "transactions": {
                      "type": "array",
                      "items": {
                        "type": "object"
                      }
                    },
                    "txId": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "transactions",
                    "txId"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/prepare-transactions/closeOffer": {
      "post": {
        "summary": "closeOffer",
        "tags": [
          "Endpoints",
          "Prepare Transactions"
        ],
        "description": "Prepares unsigned transactions for the closeOffer method.",
        "security": [
          {
            "apiKeyAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "description": "Request body for closeOffer.",
                "required": [
                  "method",
                  "signerAddress",
                  "chainId",
                  "tokenSymbol",
[...]
