{
  "openapi": "3.1.0",
  "info": {
    "title": "Brickken API V2",
    "description": "Welcome to the Brickken API documentation. This API allows customers to create and manage tokenization processes, including creating new tokenizations, minting/burning/transferring tokens, whitelisting users, manage tokens approvals. This documentation provides detailed information on how to use the API, including the necessary endpoints, request formats, and expected responses.</details><details><summary>**Authentication**</summary>All API requests require an API key for authentication. Include your API key in the `x-api-key` header of each request:<pre><code>```\n  x-api-key: YOUR_API_KEY\n```</code></pre>Ensure that your API key is kept secure and not shared publicly. A common parameter for all requests is the `signerAddress`. Such address MUST be whitelisted in our factory. To whitelist an address and/or request an API key either for sandbox/production environment please contact with: tech@brickken.com. Once a `signerAddress` performs a `newTokenization` we refer to that address as the tokenizer. The tokenizer will be the only one allowed to mint such token, distribute dividends on such token and whitelist/blacklist investors of such token. Regarding actions like transferring tokens or burning tokens, the `signerAddress` can be any user and not only the tokenizer.</details><details><summary>**Supported Networks & Addresses**</summary><details><summary>Sepolia (sandbox environment only)</summary><pre><code>```\n  Chain Id: \"aa36a7\"\n  Factory Address: \"0x933ABAA95a7Fd0Bc683bDe2adB89f4C5EA64897b\"\n  BKN Address: \"0x97a13487f889dc770Ac925Be2d3b6c833FA7746a\"\n  USDT Address: \"0x28d2B01854D0aBec267a3DDcad9163580E6E8604\"\n  USDC Address: \"0xb10cE8e28aEb1ae27b968Fb3bfed2FD7dd52daCb\"\n```</code></pre></details><details><summary>Base Sepolia (sandbox / testing)</summary><pre><code>```\n  Chain Id: \"84532\" (hex \"14a34\")\n  x402 USDC (Circle, EIP-3009): \"0x036CbD53842c5426634e7929541eC2318f3dCF7e\"\n  ERC-8004 Identity Registry: \"0x8004A818BFB912233c491871b3d84c89A494BD9e\"\n  ERC-8004 Reputation Registry: \"0x8004B663056A597Dffe9eCcC1965A193B7388713\"\n```</code></pre></details><details><summary>Ethereum mainnet (production environment only)</summary><pre><code>```\n  Chain Id: \"1\"\n  Factory Address: \"0x91af681C85Ca98Efc5D69C1B62E6F435030969Db\"\n  BKN Address: \"0x0A638F07ACc6969abF392bB009f216D22aDEa36d\"\n  USDT Address: \"0xdac17f958d2ee523a2206206994597c13d831ec7\"\n  USDC Address: \"0xa0b86991c6218b36c1d19d4a2e9eb0ce3606eb48\"\n```</code></pre></details><details><summary>Base mainnet (production environment only)</summary><pre><code>```\n  Chain Id: \"2105\"\n  Factory Address: \"0x278D7bdc2451B0Fa4087A68ce084a86cB91D4d83\"\n  BKN Address: \"0xddB293BB5C5258F7484A94a0fBd5c8B2F6E4e376\"\n  USDT Address: N/A\n  USDC Address: \"0x833589fcd6edb6e08f4c7c32d4f71b54bda02913\"\n```</code></pre></details><details><summary>BNB Smart Chain mainnet (production environment only)</summary><pre><code>```\n  Chain Id: \"38\"\n  Factory Address: \"0xCe4529Fe88df480BD777d3e32dfD7032e6C685ff\"\n  BKN Address: \"0x0e28bC9B03971E95acF9ae1326E51ecF9C55B498\"\n  USDT Address: \"0x55d398326f99059fF775485246999027B3197955\"\n  USDC Address: \"0x8AC76a51cc950d9822D68b83fE1Ad97B32Cd580d\"\n```</code></pre></details><details><summary>Avalance C Chain mainnet (production environment only)</summary><pre><code>```\n  Chain Id: \"a86a\"\n  Factory Address: \"0xc6c230FA8F40022dE997727436Fae01caAbcDe61\"\n  BKN Address: \"0xd44E4Dc8bdF7C1c62CfDBb182022097BA42Ac6bC\"\n  USDT Address: \"0x9702230A8Ea53601f5cD2dc00fDBc13d4dF4A8c7\"\n  USDC Address: \"0xB97EF9Ef8734C71904D8002F8b6Bc66Dd9c48a6E\"\n```</code></pre></details></details><details><summary>**Usage Workflow**</summary><details><summary>1. **Prepare Transactions:**</summary>- Use the `POST /prepare-transactions` endpoint with the desired method (e.g., `newTokenization`, `mintToken`, etc...) to prepare the transaction(s).\n- The response will include an array of unsigned transactions that needs to be signed.<details><summary>**Example Of An Endpoint Response:**</summary>```json\n  {\n    \"transactions\": [\n      {\n        \"from\": \"0xSignerAddress\",\n        \"to\": \"0xTargetAddress\",\n        \"value\": {\n          \"type\": \"BigNumber\",\n          \"hex\": \"0x00\"\n        },\n        \"nonce\": 1,\n        \"chainId\": 11155111,\n        \"data\": \"0x...\",\n        \"type\": 2,\n        \"maxPriorityFeePerGas\": {\n          \"type\": \"BigNumber\",\n          \"hex\": \"0x...\"\n        },\n        \"maxFeePerGas\": {\n          \"type\": \"BigNumber\",\n          \"hex\": \"0x...\"\n        },\n        \"gasLimit\": {\n          \"type\": \"BigNumber\",\n          \"hex\": \"0x...\"\n        }\n      }\n    ]\n  }\n```</details></details><details><summary>2. **Sign the Transactions:**</summary>- Use your preferred method or wallet to sign the transaction data provided in the response.\n- Ensure that the signer address matches the `signerAddress` provided in the initial request.<details><summary>**Example Of signing a transaction with typescript and `ethers-js`:**</summary>```typescript\n  const tx = {...} // One of the object in the array returned by the `/prepare-transactions` endpoint\n  const privateKey = process.env.PRIVATE_KEY;\n  const wallet = new ethers.Wallet(privateKey);\n  const signedTx = await wallet.signTransaction(tx);\n  console.log('Signed Transaction:', signedTx);\n```</details>**NOTE:** Be sure to have enough funds in the signer wallet to cover for the transaction cost</details><details><summary>3. **Submit Signed Transactions:**</summary>- Use the `POST /send-transactions` endpoint to submit the signed transaction(s) along with the required parameters.\n- The API will process the transactions, send them to the blockchain, and update the Brickken database accordingly.</details><details><summary>4. **Check Transaction Status:**</summary>- Use the `GET /get-transaction-status` endpoint to check the status of your transaction.\n- Provide either the on-chain transaction hash (`hash`) or the internal transaction ID (`txId`) to retrieve the status.</details></details><details><summary>**Environments**</summary>The API is available in several environments for testing and production purposes:- Sandbox: `https://api.sandbox.brickken.com/`\n- Master (Production): `https://api.brickken.com/`</details>\n\nThe API also exposes x402scan discovery facade endpoints under /x402/... The public discovery target is https://api.brickken.com, with /.well-known/x402 returning resource URLs and /openapi.json returning the generated OpenAPI 3.1 document.",
    "version": "2.0.0"
  },
  "servers": [
    {
      "url": "https://api.sandbox.brickken.com",
      "description": "Sandbox Environment"
    },
    {
      "url": "https://api.brickken.com",
      "description": "Production Environment"
    }
  ],
  "components": {
    "securitySchemes": {
      "apiKeyAuth": {
        "type": "apiKey",
        "in": "header",
        "name": "x-api-key"
      },
      "x402Payment": {
        "type": "apiKey",
        "in": "header",
        "name": "X-Payment",
        "description": "Base64-encoded x402 payment payload. Supported for x402-eligible agentic methods on /x402/... facades, /prepare-transactions, and eligible /send-transactions retries."
      }
    },
    "schemas": {
      "UnsignedTransaction": {
        "type": "object",
        "description": "An unsigned transaction to sign. In client-signed and client-broadcast execution this is a fully populated EIP-1559 transaction; in brickken-relayed execution it is the bare call (to, data, value) that Brickken's relayer signs and broadcasts. BigNumber fields are serialised as { type, hex }.",
        "properties": {
          "to": {
            "type": "string",
            "description": "Target contract address.",
            "example": "0x23B04b6410D72Fa66A77a9e0146DF6634Ad4C462"
          },
          "data": {
            "type": "string",
            "description": "ABI-encoded calldata.",
            "example": "0xa9059cbb0000000000000000000000001111111111111111111111111111111111111111"
          },
          "from": {
            "type": "string",
            "description": "Signer address. Present in client-signed and client-broadcast execution.",
            "example": "0x742d35Cc6634C0532925a3b8D4C9db96c4b4d8b"
          },
          "value": {
            "type": "object",
            "description": "Native value sent with the call.",
            "properties": {
              "type": {
                "type": "string",
                "example": "BigNumber"
              },
              "hex": {
                "type": "string",
                "example": "0x00"
              }
            }
          },
          "nonce": {
            "type": "integer",
            "description": "Signer nonce at prepare time.",
            "example": 1
          },
          "chainId": {
            "type": "integer",
            "description": "Operation chain, decimal.",
            "example": 11155111
          },
          "type": {
            "type": "integer",
            "description": "Transaction type. 2 is EIP-1559.",
            "example": 2
          },
          "gasLimit": {
            "type": "object",
            "properties": {
              "type": {
                "type": "string",
                "example": "BigNumber"
              },
              "hex": {
                "type": "string",
                "example": "0x01e848"
              }
            }
          },
          "maxFeePerGas": {
            "type": "object",
            "properties": {
              "type": {
                "type": "string",
                "example": "BigNumber"
              },
              "hex": {
                "type": "string",
                "example": "0x0ba43b7400"
              }
            }
          },
          "maxPriorityFeePerGas": {
            "type": "object",
            "properties": {
              "type": {
                "type": "string",
                "example": "BigNumber"
              },
              "hex": {
                "type": "string",
                "example": "0x3b9aca00"
              }
            }
          }
        },
        "required": [
          "to",
          "data"
        ],
        "example": {
          "from": "0x742d35Cc6634C0532925a3b8D4C9db96c4b4d8b",
          "to": "0x23B04b6410D72Fa66A77a9e0146DF6634Ad4C462",
          "value": {
            "type": "BigNumber",
            "hex": "0x00"
          },
          "nonce": 1,
          "chainId": 11155111,
          "data": "0xa9059cbb0000000000000000000000001111111111111111111111111111111111111111",
          "type": 2,
          "gasLimit": {
            "type": "BigNumber",
            "hex": "0x01e848"
          },
          "maxFeePerGas": {
            "type": "BigNumber",
            "hex": "0x0ba43b7400"
          },
          "maxPriorityFeePerGas": {
            "type": "BigNumber",
            "hex": "0x3b9aca00"
          }
        }
      },
      "KycLinkResult": {
        "type": "object",
        "additionalProperties": true,
        "required": ["email", "needKyc", "userCreated", "invitationSent", "url"],
        "properties": {
          "email": { "type": "string", "format": "email" },
          "needKyc": { "type": "boolean" },
          "userCreated": { "type": "boolean" },
          "invitationSent": { "type": "boolean" },
          "url": {
            "type": ["string", "null"],
            "format": "uri",
            "description": "Sumsub verification URL. Null when KYC is not required. Treat this value as sensitive."
          }
        }
      },
      "AgentSummary": {
        "type": "object",
        "additionalProperties": true,
        "required": ["uuid", "chainId", "ownerWalletAddress"],
        "properties": {
          "uuid": { "type": "string", "format": "uuid" },
          "agentId": { "type": ["string", "null"] },
          "chainId": { "type": "string", "example": "84532" },
          "standard": { "type": "string", "example": "ERC-8004" },
          "registryAddress": { "type": ["string", "null"] },
          "agentURI": { "type": ["string", "null"] },
          "metadataCid": { "type": ["string", "null"] },
          "ownerWalletAddress": { "type": "string", "pattern": "^0x[a-fA-F0-9]{40}$" },
          "name": { "type": ["string", "null"] },
          "description": { "type": ["string", "null"] },
          "image": { "type": ["string", "null"] },
          "services": { "type": "array", "items": { "type": "object", "additionalProperties": true } },
          "supportedTrust": { "type": "array", "items": { "type": "string" } },
          "x402Support": { "type": "boolean" },
          "active": { "type": "boolean" },
          "lifecycleStatus": { "type": ["string", "null"] },
          "status": { "type": ["string", "null"] },
          "actualTxHash": { "type": ["string", "null"] },
          "error": { "type": ["string", "null"] },
          "createdAt": { "type": "string", "format": "date-time" },
          "updatedAt": { "type": "string", "format": "date-time" }
        }
      },
      "AgentDetail": {
        "allOf": [
          { "$ref": "#/components/schemas/AgentSummary" },
          {
            "type": "object",
            "additionalProperties": true,
            "properties": {
              "registrationFile": { "type": ["object", "null"], "additionalProperties": true },
              "onchainMetadata": { "type": ["object", "null"], "additionalProperties": true },
              "prepareTxId": { "type": ["string", "null"] }
            }
          }
        ]
      },
      "AgentTransaction": {
        "type": "object",
        "additionalProperties": true,
        "required": ["txId", "type", "category", "status", "chainId", "details"],
        "properties": {
          "txId": { "type": "string" },
          "actualTxHash": { "type": ["string", "null"] },
          "type": { "type": "string", "example": "agentRegister" },
          "category": { "type": "string", "enum": ["erc8004", "agentToken", "rams"] },
          "status": { "type": "string" },
          "chainId": { "type": "string", "example": "84532" },
          "from": { "type": ["string", "null"] },
          "to": { "type": ["string", "null"] },
          "details": { "type": "object", "additionalProperties": true },
          "error": { "type": ["string", "null"] },
          "createdAt": { "type": "string", "format": "date-time" },
          "updatedAt": { "type": "string", "format": "date-time" }
        }
      }
    }
  },
  "security": [
    {
      "apiKeyAuth": []
    }
  ],
  "paths": {
    "/create-kyc-link": {
      "post": {
        "operationId": "createKycLink",
        "summary": "Create a KYC link",
        "tags": ["KYC"],
        "description": "Creates or reuses an investor scoped to the API client, sends the invitation when needed, and returns a Sumsub verification URL when KYC is required. This endpoint always requires an API key.",
        "security": [{ "apiKeyAuth": [] }],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["email"],
                "properties": {
                  "email": { "type": "string", "format": "email" },
                  "needKyc": { "type": "boolean", "default": true }
                }
              },
              "example": { "email": "investor@example.com", "needKyc": true }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Investor access resolved and invitation state returned.",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/KycLinkResult" } } }
          },
          "400": { "description": "Invalid email, invalid needKyc value, or unsupported user." },
          "401": { "description": "Missing or invalid API key." },
          "403": { "description": "The API key is not authorized to access an existing user." }
        }
      }
    },
    "/get-agents": {
      "get": {
        "operationId": "getAgents",
        "summary": "List agents",
        "tags": ["Agent Getters"],
        "description": "Lists agents scoped to the API key. Without an API key, chainId and ownerWalletAddress are required, and the x402 payer must match the owner wallet.",
        "security": [{ "apiKeyAuth": [] }, { "x402Payment": [] }],
        "parameters": [
          { "name": "chainId", "in": "query", "required": false, "schema": { "type": "string" }, "description": "Optional with API-key auth; required for x402." },
          { "name": "ownerWalletAddress", "in": "query", "required": false, "schema": { "type": "string", "pattern": "^0x[a-fA-F0-9]{40}$" }, "description": "Optional API-key filter; required for x402 and must match the payer." },
          { "name": "limit", "in": "query", "required": false, "schema": { "type": "integer", "minimum": 1, "maximum": 100, "default": 50 } },
          { "name": "offset", "in": "query", "required": false, "schema": { "type": "integer", "minimum": 0, "default": 0 } }
        ],
        "responses": {
          "200": {
            "description": "Paginated agent list.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": ["agents", "total", "limit", "offset"],
                  "properties": {
                    "agents": { "type": "array", "items": { "$ref": "#/components/schemas/AgentSummary" } },
                    "total": { "type": "integer" },
                    "limit": { "type": "integer" },
                    "offset": { "type": "integer" }
                  }
                }
              }
            }
          },
          "400": { "description": "Invalid filters or pagination." },
          "402": { "description": "x402 payment required when no API key is supplied." }
        },
        "x-payment-info": { "protocols": [{ "x402": {} }], "price": { "mode": "fixed", "currency": "USD", "amount": "0.000001" } }
      }
    },
    "/get-agent-info": {
      "get": {
        "operationId": "getAgentInfo",
        "summary": "Get agent information",
        "tags": ["Agent Getters"],
        "description": "Returns one complete agent profile. Provide agentUuid, or provide agentId together with chainId. API-key access is scope-checked; x402 payment must come from the agent owner wallet.",
        "security": [{ "apiKeyAuth": [] }, { "x402Payment": [] }],
        "parameters": [
          { "name": "agentUuid", "in": "query", "required": false, "schema": { "type": "string", "format": "uuid" } },
          { "name": "agentId", "in": "query", "required": false, "schema": { "type": "string" } },
          { "name": "chainId", "in": "query", "required": false, "schema": { "type": "string" }, "description": "Required with agentId." }
        ],
        "responses": {
          "200": { "description": "Complete agent profile.", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/AgentDetail" } } } },
          "400": { "description": "Missing or invalid reference, or agent not found." },
          "403": { "description": "The API key cannot access this agent." },
          "402": { "description": "x402 payment required when no API key is supplied." }
        },
        "x-payment-info": { "protocols": [{ "x402": {} }], "price": { "mode": "fixed", "currency": "USD", "amount": "0.000001" } }
      }
    },
    "/get-agent-transactions": {
      "get": {
        "operationId": "getAgentTransactions",
        "summary": "Get agent transactions",
        "tags": ["Agent Getters"],
        "description": "Returns ERC-8004, agent-token, and RAMS transactions for an agent. Provide agentUuid, or agentId together with chainId. API-key access is scope-checked; x402 payment must come from the agent owner wallet.",
        "security": [{ "apiKeyAuth": [] }, { "x402Payment": [] }],
        "parameters": [
          { "name": "agentUuid", "in": "query", "required": false, "schema": { "type": "string", "format": "uuid" } },
          { "name": "agentId", "in": "query", "required": false, "schema": { "type": "string" } },
          { "name": "chainId", "in": "query", "required": false, "schema": { "type": "string" }, "description": "Required with agentId." },
          { "name": "limit", "in": "query", "required": false, "schema": { "type": "integer", "minimum": 1, "maximum": 100, "default": 50 } },
          { "name": "offset", "in": "query", "required": false, "schema": { "type": "integer", "minimum": 0, "default": 0 } }
        ],
        "responses": {
          "200": {
            "description": "Paginated agent transaction history.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": ["agentUuid", "transactions", "total", "limit", "offset"],
                  "properties": {
                    "agentUuid": { "type": "string", "format": "uuid" },
                    "transactions": { "type": "array", "items": { "$ref": "#/components/schemas/AgentTransaction" } },
                    "total": { "type": "integer" },
                    "limit": { "type": "integer" },
                    "offset": { "type": "integer" }
                  }
                }
              }
            }
          },
          "400": { "description": "Missing or invalid reference, pagination, or agent not found." },
          "403": { "description": "The API key cannot access this agent." },
          "402": { "description": "x402 payment required when no API key is supplied." }
        },
        "x-payment-info": { "protocols": [{ "x402": {} }], "price": { "mode": "fixed", "currency": "USD", "amount": "0.000001" } }
      }
    },
    "/prepare-transactions": {
      "post": {
        "summary": "Prepare Transactions",
        "tags": [
          "Endpoints"
        ],
        "description": "**Description:** This endpoint prepares unsigned transactions for the method selected in the `method` field. For the exact required and optional body fields of a single method, open the matching page under Prepare Transactions.\n\n**Headers:**\n- `x-api-key`: `YOUR_API_KEY` for API-key auth, or `X-Payment` for x402 retries on eligible agentic methods\n- `Content-Type`: `application/json`\n\n**Common Request Body Parameters:**\n- `method` (string, required): Operation to prepare.\n- `chainId` (string, required): Blockchain network identifier. Hex format is recommended, for example `aa36a7` for Sepolia.\n- `signerAddress` (string, conditionally required): Wallet address that signs the prepared transaction. Most methods require it; `newInvest` and `claimTokens` can use `investorAddress` as the signer.",
        "security": [
          {
            "apiKeyAuth": []
          },
          {
            "x402Payment": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "method": {
                    "type": "string",
                    "example": "newTokenization",
                    "enum": [
                      "newTokenization",
                      "newSto",
                      "newInvest",
                      "claimTokens",
                      "mintToken",
                      "whitelist",
                      "approve",
                      "burnToken",
                      "transferFrom",
                      "transferTo",
                      "dividendDistribution",
                      "closeOffer",
                      "newTokenizedAgent",
                      "agentRegister",
                      "agentSetURI",
                      "agentSetMetadata",
                      "agentSetWallet",
                      "agentTransferOwnership",
                      "agentGiveFeedback",
                      "agentRevokeFeedback",
                      "agentAppendFeedbackResponse",
                      "agentCreateToken",
                      "agentMintToken",
                      "agentBurnToken",
                      "agentTransferToken",
                      "agentTransferFromToken",
                      "agentApproveToken"
                    ],
                    "description": "The operation to be performed. Includes standard tokenization methods and x402-eligible agentic methods. Agentic methods can also be addressed through /x402/... facade endpoints, where the method is derived from the path. newTokenizedAgent remains a legacy alias for direct /prepare-transactions calls and is not listed in x402scan discovery."
                  },
                  "signerAddress": {
                    "type": "string",
                    "description": "Optional. Wallet address that will sign the prepared transaction. If omitted, the API uses investorAddress for this method.",
                    "example": "0x742d35Cc6634C0532925a3b8D4C9db96c4b4d8b"
                  },
                  "chainId": {
                    "type": "string",
                    "description": "Required. Blockchain network identifier. Hex format is recommended, for example Sepolia `aa36a7`.",
                    "example": "aa36a7"
                  },
                  "tokenSymbol": {
                    "type": "string",
                    "description": "Required. Token symbol. Must be 2 to 5 uppercase letters or numbers.",
                    "example": "EXMPL"
                  },
                  "tokenType": {
                    "type": "string",
                    "enum": [
                      "EQUITY",
                      "DEBT",
                      "BILL_FACTORING",
                      "ICO",
                      "STABLECOIN",
                      "REVENUE_SHARE",
                      "RWA_TOKEN",
                      "PROFIT_SHARING"
                    ],
                    "example": "EQUITY",
                    "description": "Optional. Token type. Defaults to EQUITY when omitted."
                  },
                  "tokenizerEmail": {
                    "type": "string",
                    "description": "Optional. Tokenizer email. Required for newTokenization, newSto, and closeOffer.",
                    "example": "tokenizer@example.com",
                    "format": "email"
                  },
                  "acceptedCoin": {
                    "type": "string",
                    "description": "Required. Accepted payment token symbol.",
                    "example": "USDT"
                  },
                  "amount": {
                    "type": "string",
                    "description": "Optional. Amount used by approve, burnToken, transferFrom, transferTo, and dividendDistribution.",
                    "example": "100"
                  },
                  "endDate": {
                    "type": "string",
                    "description": "Required. STO end date.",
                    "example": "2026-12-31T23:59:59.000Z",
                    "format": "date-time"
                  },
                  "from": {
                    "type": "string",
                    "description": "Optional. Source address required by transferFrom.",
                    "example": "0x1111111111111111111111111111111111111111",
                    "pattern": "^0x[a-fA-F0-9]{40}$"
                  },
                  "initialHolders": {
                    "type": "array",
                    "description": "Optional. Initial holders paired by index with preMints. Provide walletAddress directly, or email when a DFNS wallet can be resolved.",
                    "items": {
                      "type": "object",
                      "properties": {
                        "walletAddress": {
                          "type": "string",
                          "description": "Optional. Holder wallet address.",
                          "example": "0x1111111111111111111111111111111111111111",
                          "pattern": "^0x[a-fA-F0-9]{40}$"
                        },
                        "email": {
                          "type": "string",
                          "description": "Optional. Holder email used to resolve a DFNS wallet when walletAddress is omitted.",
                          "example": "holder@example.com",
                          "format": "email"
                        }
                      }
                    },
                    "example": [
                      {
                        "walletAddress": "0x1111111111111111111111111111111111111111"
                      }
                    ]
                  },
                  "investmentAmount": {
                    "type": "string",
                    "description": "Required. Payment-token amount to invest.",
                    "example": "1000"
                  },
                  "investorAddress": {
                    "type": "string",
                    "description": "Optional. Investor wallet address. Required for newInvest and claimTokens; optional for approve payment-token owner scope.",
                    "example": "0x1111111111111111111111111111111111111111",
                    "pattern": "^0x[a-fA-F0-9]{40}$"
                  },
                  "investorEmail": {
                    "type": "string",
                    "description": "Optional. Investor email. Required for newInvest, claimTokens, burnToken, and each whitelist/mint recipient.",
                    "example": "investor@example.com",
                    "format": "email"
                  },
                  "maxInvestment": {
                    "type": "string",
                    "description": "Required. Maximum investment amount.",
                    "example": "10000"
                  },
                  "maxRaiseUSD": {
                    "type": "string",
                    "description": "Required. Maximum raise amount in USD.",
                    "example": "100000"
                  },
                  "minInvestment": {
                    "type": "string",
                    "description": "Required. Minimum investment amount.",
                    "example": "100"
                  },
                  "minRaiseUSD": {
                    "type": "string",
                    "description": "Required. Minimum raise amount in USD.",
                    "example": "10000"
                  },
                  "name": {
                    "type": "string",
                    "description": "Required. Name of the tokenized asset.",
                    "example": "Example Token"
                  },
                  "newInvestor": {
                    "type": "object",
                    "description": "Optional. Default profile data used when creating missing investor users.",
                    "properties": {
                      "name": {
                        "type": "string",
                        "description": "Optional. Investor first name.",
                        "example": "John"
                      },
                      "surname": {
                        "type": "string",
                        "description": "Optional. Investor surname.",
                        "example": "Doe"
                      },
                      "middleName": {
                        "type": "string",
                        "description": "Optional. Investor middle name.",
                        "example": "A."
                      },
                      "secondSurname": {
                        "type": "string",
                        "description": "Optional. Investor second surname.",
                        "example": "Smith"
                      },
                      "type": {
                        "type": "string",
                        "description": "Optional. Investor type. Defaults to INVESTOR_PERSON.",
                        "example": "INVESTOR_PERSON"
                      }
                    }
                  },
                  "offeringName": {
                    "type": "string",
                    "description": "Required. Name of the STO offering.",
                    "example": "Series A"
                  },
                  "paymentTokenSymbol": {
                    "type": "string",
                    "description": "Optional. Payment token symbol used by newInvest. If omitted, the chain default payment token is used.",
                    "example": "USDT"
                  },
                  "preMints": {
                    "type": "array",
                    "description": "Optional. Pre-mint amounts. If provided, initialHolders must also be provided with the same length.",
                    "items": {
                      "type": "object",
                      "required": [
                        "amount"
                      ],
                      "properties": {
                        "amount": {
                          "type": "string",
                          "description": "Required. Amount to pre-mint to the holder at the same array index.",
                          "example": "1000"
                        }
                      }
                    },
                    "example": [
                      {
                        "amount": "1000"
                      }
                    ]
                  },
                  "spenderAddress": {
                    "type": "string",
                    "description": "Optional. Spender address required by approve.",
                    "example": "0x3333333333333333333333333333333333333333",
                    "pattern": "^0x[a-fA-F0-9]{40}$"
                  },
                  "startDate": {
                    "type": "string",
                    "description": "Required. STO start date.",
                    "example": "2026-09-01T00:00:00.000Z",
                    "format": "date-time"
                  },
                  "supplyCap": {
                    "type": "string",
                    "description": "Optional. Maximum token supply. Defaults to `0` when omitted.",
                    "example": "1000000"
                  },
                  "to": {
                    "type": "string",
                    "description": "Optional. Destination address required by transferFrom and transferTo.",
                    "example": "0x2222222222222222222222222222222222222222",
                    "pattern": "^0x[a-fA-F0-9]{40}$"
                  },
                  "tokenAmount": {
                    "type": "string",
                    "description": "Required. Number of tokens offered in the STO.",
                    "example": "1000"
                  },
                  "tokenizerAddress": {
                    "type": "string",
                    "description": "Optional. Tokenizer wallet address used by tokenization setup flows when provided.",
                    "example": "0x4444444444444444444444444444444444444444",
                    "pattern": "^0x[a-fA-F0-9]{40}$"
                  },
                  "url": {
                    "type": "string",
                    "description": "Optional. Token documentation URL. Defaults to an empty string when omitted.",
                    "example": "https://example.com/token-docs"
                  },
                  "userToMint": {
                    "type": "array",
                    "minItems": 1,
                    "description": "Required. Users to mint tokens to.",
                    "items": {
                      "type": "object",
                      "required": [
                        "investorEmail",
                        "amount"
                      ],
                      "properties": {
                        "investorEmail": {
                          "type": "string",
                          "description": "Required. Recipient investor email.",
                          "example": "investor@example.com",
                          "format": "email"
                        },
                        "amount": {
                          "type": "string",
                          "description": "Required. Positive whole-token amount to mint.",
                          "example": "100"
                        },
                        "investorAddress": {
                          "type": "string",
                          "description": "Optional. Recipient wallet address. If omitted, the API attempts to create or resolve a DFNS wallet.",
                          "example": "0x1111111111111111111111111111111111111111",
                          "pattern": "^0x[a-fA-F0-9]{40}$"
                        },
                        "needWhitelist": {
                          "type": "boolean",
                          "description": "Optional. Whether the recipient should be whitelisted before minting. Defaults to true unless explicitly false.",
                          "example": true
                        },
                        "name": {
                          "type": "string",
                          "description": "Optional. Investor first name used when creating a new investor record.",
                          "example": "John"
                        },
                        "surname": {
                          "type": "string",
                          "description": "Optional. Investor surname used when creating a new investor record.",
                          "example": "Doe"
                        }
                      }
                    },
                    "example": [
                      {
                        "investorEmail": "investor@example.com",
                        "investorAddress": "0x1111111111111111111111111111111111111111",
                        "amount": "100",
                        "needWhitelist": true
                      }
                    ]
                  },
                  "userToWhitelist": {
                    "type": "array",
                    "minItems": 1,
                    "description": "Required. Users to whitelist or blacklist.",
                    "items": {
                      "type": "object",
                      "required": [
                        "investorAddress",
                        "investorEmail",
                        "whitelistStatus"
                      ],
                      "properties": {
                        "investorAddress": {
                          "type": "string",
                          "description": "Required. Investor wallet address.",
                          "example": "0x1111111111111111111111111111111111111111",
                          "pattern": "^0x[a-fA-F0-9]{40}$"
                        },
                        "investorEmail": {
                          "type": "string",
                          "description": "Required. Investor email used for the investor record.",
                          "example": "investor@example.com",
                          "format": "email"
                        },
                        "whitelistStatus": {
                          "type": "boolean",
                          "description": "Required. `true` to whitelist, `false` to blacklist.",
                          "example": true
                        }
                      }
                    },
                    "example": [
                      {
                        "investorAddress": "0x1111111111111111111111111111111111111111",
                        "investorEmail": "investor@example.com",
                        "whitelistStatus": true
                      }
                    ]
                  },
                  "ownerEmail": {
                    "type": "string",
                    "example": "owner@example.com",
                    "description": "Tokenizer owner email used by agentic methods."
                  },
                  "email": {
                    "type": "string",
                    "example": "reviewer@example.com",
                    "description": "Tracking email used by feedback and agent token methods."
                  },
                  "services": {
                    "type": "array",
                    "items": {
                      "type": "object"
                    },
                    "description": "Agent service descriptors used by agentRegister."
                  },
                  "metadata": {
                    "type": "object",
                    "description": "Agent metadata stored in the registration file."
                  },
                  "aiModelName": {
                    "type": "string",
                    "example": "gpt-4o",
                    "description": "AI model name for agent registration or metadata updates."
                  },
                  "aiModelProvider": {
                    "type": "string",
                    "example": "openai",
                    "description": "AI model provider stored in the agent profile."
                  },
                  "agentUuid": {
                    "type": "string",
                    "description": "Internal tokenized agent UUID returned by agentRegister."
                  },
                  "agentId": {
                    "oneOf": [
                      {
                        "type": "string"
                      },
                      {
                        "type": "number"
                      }
                    ],
                    "description": "On-chain ERC-8004 agent ID."
                  },
                  "metadataKey": {
                    "type": "string",
                    "example": "modelName",
                    "description": "Metadata key used by agentSetMetadata."
                  },
                  "metadataValue": {
                    "description": "Metadata value used by agentSetMetadata."
                  },
                  "metadataEncoding": {
                    "type": "string",
                    "enum": [
                      "string",
                      "json",
                      "hex"
                    ],
                    "description": "Encoding mode for agentSetMetadata."
                  },
                  "newWallet": {
                    "type": "string",
                    "description": "Agent wallet assigned by agentSetWallet."
                  },
                  "signature": {
                    "type": "string",
                    "description": "Hex signature used by agentSetWallet."
                  },
                  "deadline": {
                    "oneOf": [
                      {
                        "type": "string"
                      },
                      {
                        "type": "number"
                      }
                    ],
                    "description": "Signature deadline used by agentSetWallet."
                  },
                  "feedbackIndex": {
                    "oneOf": [
                      {
                        "type": "string"
                      },
                      {
                        "type": "number"
                      }
                    ],
                    "description": "Feedback index used by reputation methods."
                  },
                  "clientAddress": {
                    "type": "string",
                    "description": "Reviewer/client address used by agentAppendFeedbackResponse."
                  },
                  "responseURI": {
                    "type": "string",
                    "description": "Off-chain response URI used by agentAppendFeedbackResponse."
                  },
                  "feedbackURI": {
                    "type": "string",
                    "description": "Off-chain feedback URI used by agentGiveFeedback."
                  },
                  "feedbackHash": {
                    "type": "string",
                    "description": "Optional 32-byte content hash for feedback."
                  },
                  "responseHash": {
                    "type": "string",
                    "description": "Optional 32-byte content hash for a feedback response."
                  },
                  "agentWallet": {
                    "type": "string",
                    "description": "Operational agent wallet used by agentCreateToken."
                  },
                  "symbol": {
                    "type": "string",
                    "example": "MAT",
                    "description": "Agent token symbol used by agentCreateToken."
                  },
                  "premint": {
                    "type": "string",
                    "description": "Human-readable premint amount used by agentCreateToken."
                  },
                  "decimals": {
                    "type": "number",
                    "description": "Agent token decimals. Defaults to 18."
                  },
                  "tokenAddress": {
                    "type": "string",
                    "description": "Deployed agent token address used by agentMintToken and agentBurnToken."
                  },
                  "x402Support": {
                    "type": "boolean",
                    "description": "Whether the registered agent declares x402 support in its profile."
                  },
                  "active": {
                    "type": "boolean",
                    "description": "Whether the registered agent should appear active."
                  },
                  "paymentTokenAddress": {
                    "type": "string",
                    "description": "Optional. Payment token contract address override. If omitted, the chain default payment token is used.",
                    "example": "0x5555555555555555555555555555555555555555",
                    "pattern": "^0x[a-fA-F0-9]{40}$"
                  }
                },
                "required": [
                  "method",
                  "chainId"
                ],
                "example": {
                  "method": "newTokenization",
                  "signerAddress": "0x742d35Cc6634C0532925a3b8D4C9db96c4b4d8b",
                  "chainId": "aa36a7",
                  "tokenizerEmail": "tokenizer@example.com",
                  "name": "Example Token",
                  "tokenSymbol": "EXMPL",
                  "tokenType": "EQUITY",
                  "supplyCap": "1000000",
                  "url": "https://example.com/token-docs",
                  "preMints": [
                    {
                      "amount": "1000"
                    }
                  ],
                  "initialHolders": [
                    {
                      "walletAddress": "0x1111111111111111111111111111111111111111"
                    }
                  ]
                }
              },
              "example": {
                "method": "newTokenization",
                "signerAddress": "0x742d35Cc6634C0532925a3b8D4C9db96c4b4d8b",
                "chainId": "aa36a7",
                "tokenizerEmail": "tokenizer@example.com",
                "name": "Example Token",
                "tokenSymbol": "EXMPL",
                "tokenType": "EQUITY",
                "supplyCap": "1000000",
                "url": "https://example.com/token-docs",
                "preMints": [
                  {
                    "amount": "1000"
                  }
                ],
                "initialHolders": [
                  {
                    "walletAddress": "0x1111111111111111111111111111111111111111"
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "transactions": {
                      "type": "array",
                      "description": "Array of unsigned transaction objects ready for signing",
                      "items": {
                        "type": "object",
                        "properties": {
                          "from": {
                            "type": "string",
                            "description": "Sender address",
                            "example": "0x1234567890abcdef1234567890abcdef12345678"
                          },
                          "to": {
                            "type": "string",
                            "description": "Recipient address",
                            "example": "0xabcdef1234567890abcdef1234567890abcdef12"
                          },
                          "value": {
                            "type": "string",
                            "description": "Transaction value in hex",
                            "example": "0x00"
                          },
                          "nonce": {
                            "type": "integer",
                            "description": "Transaction nonce",
                            "example": 3792
                          },
                          "chainId": {
                            "type": "integer",
                            "description": "Blockchain network chain ID",
                            "example": 11155111
                          },
                          "data": {
                            "type": "string",
                            "description": "Transaction data payload",
                            "example": "0xd362e8a70000000000000000000000000000000000000000000000000000000000000040..."
                          },
                          "type": {
                            "type": "integer",
                            "description": "Transaction type (EIP-1559)",
                            "example": 2
                          },
                          "maxPriorityFeePerGas": {
                            "type": "string",
                            "description": "Maximum priority fee per gas",
                            "example": "1150000"
                          },
                          "maxFeePerGas": {
                            "type": "string",
                            "description": "Maximum fee per gas",
                            "example": "1156037"
                          },
                          "gasLimit": {
                            "type": "string",
                            "description": "Gas limit in hex",
                            "example": "0xccef"
                          }
                        }
                      }
                    },
                    "info": {
                      "type": "object",
                      "description": "Metadata about the operation",
                      "properties": {
                        "tokenizerEmail": {
                          "type": "string",
                          "description": "Email of the tokenizer",
                          "example": "tokenizer@example.com"
                        },
                        "tokenSymbol": {
                          "type": "string",
                          "description": "Symbol of the token",
                          "example": "EXMPL"
                        },
                        "investorEmail": {
                          "type": "string",
                          "description": "Email of the investor (when applicable)",
                          "example": "investor@example.com"
                        }
                      }
                    },
                    "txId": {
                      "type": "string",
                      "description": "Unique identifier for this transaction batch (required for /send-transactions). This is NOT a blockchain transaction hash.",
                      "example": "0x46adea7bdf49c576a760102e0d6bc9ecd650b3998588cd3d7f576a7973426aad"
                    }
                  },
                  "required": [
                    "transactions",
                    "txId"
                  ]
                }
              }
            }
          },
          "402": {
            "description": "x402 payment required. The response includes a PAYMENT-REQUIRED header with a base64-encoded x402 payment request."
          }
        }
      }
    },
    "/send-transactions": {
      "post": {
        "summary": "Submit Signed Transactions",
        "tags": [
          "Endpoints"
        ],
        "description": "**Description:** This endpoint submits signed transactions to the blockchain. This endpoint works uniformly for all transaction types prepared using the `/prepare-transactions` endpoint.\n\n**Headers:**\n- `x-api-key`: `YOUR_API_KEY` for API-key auth, or `X-Payment` for x402 retries when sending x402-eligible agentic prepared transactions\n- `Content-Type`: `application/json`\n\n**Workflow:**\n1. **Prepare Transactions**: First, call `/prepare-transactions` with your desired method and parameters\n2. **Sign Transactions**: Sign each transaction in the returned `transactions` array using your preferred wallet or signing method\n3. **Send Transactions**: Submit the signed transactions along with the `txId` to this endpoint\n\n**Supported Transaction Types:**\nThis endpoint accepts signed transactions for all methods supported by `/prepare-transactions`:\n- `newTokenization` - Create new tokenized assets\n- `newSto` - Create Security Token Offerings\n- `newInvest` - Make investments in STOs\n- `claimTokens` - Claim tokens from completed STOs\n- `closeOffer` - Close active STOs\n- `mintToken` - Mint additional tokens\n- `whitelist` - Manage address whitelist status\n- `approve` - Approve token spending\n- `burnToken` - Burn tokens\n- `transferFrom` - Transfer tokens (with approval)\n- `transferTo` - Transfer tokens from signer\n- `dividendDistribution` - Distribute dividends\n- `newTokenizedAgent` / `agentRegister` - Register ERC-8004 agents\n- `agentSetURI`, `agentSetMetadata`, `agentSetWallet` - Maintain ERC-8004 agent profiles\n- `agentGiveFeedback`, `agentRevokeFeedback`, `agentAppendFeedbackResponse` - Manage reputation entries\n- `agentCreateToken`, `agentMintToken`, `agentBurnToken`, `agentTransferToken`, `agentTransferFromToken`, `agentApproveToken` - Manage agent ERC-20 tokens\n\nx402 can be used only for x402-eligible agentic prepared transactions. Do not mix x402-eligible and API-key-only transactions in the same send batch.",
        "security": [
          {
            "apiKeyAuth": []
          },
          {
            "x402Payment": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "description": "Three mutually exclusive shapes, one per executionMode. Send exactly one of them.",
                "oneOf": [
                  {
                    "title": "client-signed — you sign, Brickken broadcasts",
                    "type": "object",
                    "required": [
                      "txId",
                      "signedTransactions"
                    ],
                    "properties": {
                      "txId": {
                        "oneOf": [
                          {
                            "type": "string",
                            "description": "Transaction ID from the prepare-transactions response.",
                            "example": "0x11769b5c2028a8ed0a3bdc7599e244aee68e2cae80261d8954e44c3b5cb621a4"
                          },
                          {
                            "type": "array",
                            "items": {
                              "type": "string"
                            },
                            "description": "One ID per signed transaction, same order."
                          }
                        ],
                        "description": "Must match the format of signedTransactions: both strings, or both arrays of equal length."
                      },
                      "signedTransactions": {
                        "oneOf": [
                          {
                            "type": "string",
                            "description": "Legacy single-value form.",
                            "example": "0x02f8b1018203e8843b9aca00850ba43b7400825208..."
                          },
                          {
                            "type": "array",
                            "items": {
                              "type": "string"
                            },
                            "example": [
                              "0x02f8b1018203e8843b9aca00850ba43b7400825208..."
                            ]
                          }
                        ],
                        "description": "Signed transaction hex string(s) starting with 0x. Never objects."
                      }
                    }
                  },
                  {
                    "title": "client-broadcast — you sign and broadcast, then confirm",
                    "type": "object",
                    "required": [
                      "txId",
                      "txHash"
                    ],
                    "properties": {
                      "txId": {
                        "type": "string",
                        "description": "Transaction ID from the prepare-transactions response.",
                        "example": "0x11769b5c2028a8ed0a3bdc7599e244aee68e2cae80261d8954e44c3b5cb621a4"
                      },
                      "txHash": {
                        "type": "string",
                        "description": "Hash of the transaction you already broadcast yourself. Brickken reconciles it against the prepared record.",
                        "example": "0x9f2c1f4b6e8a3d5c7b0e1a2d4f6c8b0a3e5d7c9f1b3a5c7e9d1f3b5a7c9e1d3f"
                      }
                    },
                    "description": "Requires exactly one txId and one txHash, and the prepare must have used executionMode: client-broadcast. Available for Dapp API methods as well as agentic ones."
                  },
                  {
                    "title": "brickken-relayed — Brickken signs and broadcasts",
                    "type": "object",
                    "required": [
                      "txId",
                      "transactions"
                    ],
                    "properties": {
                      "txId": {
                        "type": "string",
                        "description": "Transaction ID from the prepare-transactions response.",
                        "example": "0x11769b5c2028a8ed0a3bdc7599e244aee68e2cae80261d8954e44c3b5cb621a4"
                      },
                      "transactions": {
                        "type": "array",
                        "minItems": 1,
                        "maxItems": 1,
                        "items": {
                          "$ref": "#/components/schemas/UnsignedTransaction"
                        },
                        "description": "Exactly one prepared call, as returned by prepare."
                      }
                    },
                    "description": "Requires x402 payment; API keys are not accepted on this path."
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "txHash": {
                      "type": "string",
                      "description": "Transaction hash of the submitted transaction",
                      "example": "0x1234567890abcdef..."
                    },
                    "status": {
                      "type": "string",
                      "description": "Transaction status",
                      "example": "pending"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - Invalid parameters",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string",
                          "example": "INVALID_SIGNATURE"
                        },
                        "message": {
                          "type": "string",
                          "example": "Transaction signature is invalid"
                        },
                        "details": {
                          "type": "object",
                          "properties": {
                            "transactionIndex": {
                              "type": "integer",
                              "example": 0
                            },
                            "expectedSigner": {
                              "type": "string",
                              "example": "0x742d35Cc6634C0532925a3b8D4C9db96c4b4d8b"
                            },
                            "actualSigner": {
                              "type": "string",
                              "example": "0x..."
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "402": {
            "description": "x402 payment required. The response includes a PAYMENT-REQUIRED header with a base64-encoded x402 payment request."
          }
        }
      }
    },
    "/patch-token-docs": {
      "patch": {
        "summary": "Update Token Documentation",
        "tags": [
          "Endpoints"
        ],
        "description": "**Description:** This endpoint allows you to update token-related documentation and branding materials. It is fully off-chain and does not prepare or require a blockchain transaction.\n\n**Headers:**\n- `x-api-key`: `YOUR_API_KEY`\n\n**Request Format:**\nThis endpoint accepts `multipart/form-data` input, which should include:\n- `tokenSymbol` (text)\n- `tokenLogotype` (image file) - optional\n- `subscriptionAgreement` (PDF file) - optional\n- `legalDocs` (PDF file) - optional\n\n**What the endpoint does:**\n- The `tokenLogotype` is uploaded to S3.\n- The `subscriptionAgreement` and `legalDocs` are uploaded to IPFS.\n- The token record (identified by `tokenSymbol`) is then updated with references to the uploaded files.\n- No `txId`, transaction payload, or signed transaction is produced.\n\n**Security:**\n- You must provide a valid `x-api-key`.\n- API key requests do not require `signerAddress`.",
        "security": [
          {
            "apiKeyAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "tokenSymbol": {
                    "type": "string",
                    "description": "The symbol of the token being updated."
                  },
                  "tokenLogotype": {
                    "type": "object",
                    "format": "binary",
                    "description": "Image file for the token's logo."
                  },
                  "subscriptionAgreement": {
                    "type": "object",
                    "format": "binary",
                    "description": "PDF file for the token's subscription agreement."
                  },
                  "legalDocs": {
                    "type": "object",
                    "format": "binary",
                    "description": "PDF file containing the legal documentation."
                  }
                },
                "required": [
                  "tokenSymbol"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful update",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "description": "Indicates if the operation was successful.",
                      "example": true
                    },
                    "tokenSymbol": {
                      "type": "string",
                      "description": "The token symbol that was updated."
                    },
                    "tokenLogotypeRef": {
                      "type": "string",
                      "description": "Reference (e.g., S3 path) to the uploaded token logotype image."
                    },
                    "subscriptionAgreementIpfs": {
                      "type": "string",
                      "description": "IPFS CID reference to the uploaded subscription agreement."
                    },
                    "legalDocsIpfs": {
                      "type": "string",
                      "description": "IPFS CID reference to the uploaded legal documents."
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "description": "Error message indicating what went wrong."
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized request (invalid or missing API key)."
          },
          "500": {
            "description": "Internal server error."
          }
        }
      }
    },
    "/get-stos": {
      "get": {
        "summary": "Get all stos by TokenSymbol",
        "tags": [
          "Endpoints"
        ],
        "description": "**Description:** This endpoint retrieves all stos from a token (`tokenSymbol`).\n\n**Headers:**\n\n- `x-api-key`: `YOUR_API_KEY`\n\n**Query Parameters:**\n\n- `tokenSymbol` (string): The token symbol from a specific token.",
        "security": [
          {
            "apiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "name": "tokenSymbol",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The token symbol from a specific token."
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "array",
                      "items": {
                        "properties": {
                          "uuid": {
                            "type": "string",
                            "format": "uuid",
                            "description": "Unique identifier of the STO.",
                            "example": "f47ac10b-58cc-4372-a567-0e02b2c3d479"
                          },
                          "name": {
                            "type": "string",
                            "description": "Name of the STO.",
                            "example": "Example Project Alpha STO"
                          },
                          "status": {
                            "type": "string",
                            "description": "Current status of the STO (e.g., UPCOMING, ACTIVE, COMPLETED).",
                            "example": "ACTIVE"
                          },
                          "tokenAmount": {
                            "type": "string",
                            "description": "Total amount of tokens offered in the STO (as a string).",
                            "example": "1000000"
                          },
                          "hardCap": {
                            "type": "string",
                            "description": "The hard cap funding goal (as a string).",
                            "example": "500000"
                          },
                          "softCap": {
                            "type": "string",
                            "description": "The soft cap funding goal (as a string).",
                            "example": "100000"
                          },
                          "maxInvestment": {
                            "type": "string",
                            "description": "Maximum allowed investment per participant (as a string).",
                            "example": "10000"
                          },
                          "minInvestment": {
                            "type": "string",
                            "description": "Minimum required investment per participant (as a string).",
                            "example": "100"
                          },
                          "tokenSymbol": {
                            "type": "string",
                            "description": "Symbol for the token being offered.",
                            "example": "EXA"
                          },
                          "startDate": {
                            "type": "string",
                            "format": "date-time",
                            "description": "The STO start date and time in ISO 8601 format.",
                            "example": "2025-04-01T10:00:00.000Z"
                          },
                          "endDate": {
                            "type": "string",
                            "format": "date-time",
                            "description": "The STO end date and time in ISO 8601 format.",
                            "example": "2025-07-01T23:59:59.000Z"
                          },
                          "tokenPrice": {
                            "type": "string",
                            "description": "Price per token (as a string).",
                            "example": "0.50"
                          },
                          "acceptedCoin": {
                            "type": "string",
                            "description": "The symbol of the accepted cryptocurrency for payment.",
                            "example": "USDC"
                          }
                        },
                        "required": [
                          "uuid",
                          "name",
                          "status",
                          "tokenAmount",
                          "hardCap",
                          "softCap",
                          "maxInvestment",
                          "minInvestment",
                          "tokenSymbol",
                          "startDate",
                          "endDate",
                          "tokenPrice",
                          "acceptedCoin"
                        ]
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/get-sto-by-id": {
      "get": {
        "summary": "Get a specific STO by its UUID",
        "tags": [
          "Endpoints"
        ],
        "description": "**Description:** This endpoint retrieves the details of a specific STO using its unique identifier (`uuid`).\n\n**Headers:**\n\n- `x-api-key`: `YOUR_API_KEY`\n\n**Query Parameters:**\n\n- `tokenSymbol` (string): The symbol of the token.\n- `id` (string, format: uuid): The unique identifier of the STO to retrieve.",
        "security": [
          {
            "apiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "name": "tokenSymbol",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The symbol of the token."
          },
          {
            "name": "id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "description": "The unique identifier (UUID) of the STO."
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response - STO details retrieved",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "description": "Represents the structure of an STO based on the defined interface.",
                  "properties": {
                    "uuid": {
                      "type": "string",
                      "format": "uuid",
                      "description": "Unique identifier of the STO.",
                      "example": "f47ac10b-58cc-4372-a567-0e02b2c3d479"
                    },
                    "name": {
                      "type": "string",
                      "description": "Name of the STO.",
                      "example": "Example Project Alpha STO"
                    },
                    "status": {
                      "type": "string",
                      "description": "Current status of the STO (e.g., UPCOMING, ACTIVE, COMPLETED).",
                      "example": "ACTIVE"
                    },
                    "tokenAmount": {
                      "type": "string",
                      "description": "Total amount of tokens offered in the STO (as a string).",
                      "example": "1000000"
                    },
                    "hardCap": {
                      "type": "string",
                      "description": "The hard cap funding goal (as a string).",
                      "example": "500000"
                    },
                    "softCap": {
                      "type": "string",
                      "description": "The soft cap funding goal (as a string).",
                      "example": "100000"
                    },
                    "maxInvestment": {
                      "type": "string",
                      "description": "Maximum allowed investment per participant (as a string).",
                      "example": "10000"
                    },
                    "minInvestment": {
                      "type": "string",
                      "description": "Minimum required investment per participant (as a string).",
                      "example": "100"
                    },
                    "tokenSymbol": {
                      "type": "string",
                      "description": "Symbol for the token being offered.",
                      "example": "EXA"
                    },
                    "startDate": {
                      "type": "string",
                      "format": "date-time",
                      "description": "The STO start date and time in ISO 8601 format.",
                      "example": "2025-04-01T10:00:00.000Z"
                    },
                    "endDate": {
                      "type": "string",
                      "format": "date-time",
                      "description": "The STO end date and time in ISO 8601 format.",
                      "example": "2025-07-01T23:59:59.000Z"
                    },
                    "tokenPrice": {
                      "type": "string",
                      "description": "Price per token (as a string).",
                      "example": "0.50"
                    },
                    "acceptedCoin": {
                      "type": "string",
                      "description": "The symbol of the accepted cryptocurrency for payment.",
                      "example": "USDC"
                    }
                  },
                  "required": [
                    "uuid",
                    "name",
                    "status",
                    "tokenAmount",
                    "hardCap",
                    "softCap",
                    "maxInvestment",
                    "minInvestment",
                    "tokenSymbol",
                    "startDate",
                    "endDate",
                    "tokenPrice",
                    "acceptedCoin"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/get-sto-balance": {
      "get": {
        "summary": "Get STO balance and status information",
        "tags": [
          "Endpoints"
        ],
        "description": "**Description:** This endpoint retrieves balance details and current status for a Security Token Offering (STO).\n\n**Headers:**\n\n- `x-api-key`: `YOUR_API_KEY`\n\n**Query Parameters:**\n\n- `tokenSymbol` (string): The symbol of the token.\n- `id` (string, format: uuid): The unique identifier of the STO.",
        "security": [
          {
            "apiKeyAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response - STO balance details retrieved",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "description": "Represents the balance and status details of an STO.",
                  "properties": {
                    "uuid": {
                      "type": "string",
                      "format": "uuid",
                      "description": "Unique identifier of the STO.",
                      "example": "a1b2c3d4-e5f6-7890-1234-567890abcdef"
                    },
                    "name": {
                      "type": "string",
                      "description": "Name of the STO.",
                      "example": "Project Phoenix STO"
                    },
                    "companyName": {
                      "type": "string",
                      "description": "Name of the company issuing the STO.",
                      "example": "Phoenix Innovations Inc."
                    },
                    "status": {
                      "type": "string",
                      "description": "Current status of the STO (e.g., ACTIVE, PAUSED, COMPLETED).",
                      "example": "ACTIVE"
                    },
                    "tokenAmount": {
                      "type": "string",
                      "description": "Total amount of tokens offered in the STO (as a string).",
                      "example": "5000000"
                    },
                    "hardCap": {
                      "type": "string",
                      "description": "The hard cap funding goal (as a string).",
                      "example": "2500000"
                    },
                    "softCap": {
                      "type": "string",
                      "description": "The soft cap funding goal (as a string).",
                      "example": "500000"
                    },
                    "minInvestment": {
                      "type": "string",
                      "description": "Minimum required investment per participant (as a string).",
                      "example": "200"
                    },
                    "maxInvestment": {
                      "type": "string",
                      "description": "Maximum allowed investment per participant (as a string).",
                      "example": "25000"
                    },
                    "startDate": {
                      "type": "string",
                      "format": "date-time",
                      "description": "The STO start date and time in ISO 8601 format.",
                      "example": "2025-05-01T09:00:00.000Z"
                    },
                    "endDate": {
                      "type": "string",
                      "format": "date-time",
                      "description": "The STO end date and time in ISO 8601 format.",
                      "example": "2025-08-01T23:59:59.000Z"
                    },
                    "tokenPrice": {
                      "type": "string",
                      "description": "Price per token (as a string).",
                      "example": "0.75"
                    },
                    "tokenSymbol": {
                      "type": "string",
                      "description": "Symbol for the token being offered.",
                      "example": "PHNX"
                    },
                    "currentAmountRaised": {
                      "type": "string",
                      "description": "The amount currently raised in the STO (as a string).",
                      "example": "875320.50"
                    },
                    "availableAmount": {
                      "type": "string",
                      "description": "The amount of tokens still available for sale (as a string).",
                      "example": "4124679.33"
                    }
                  },
                  "required": [
                    "uuid",
                    "name",
                    "companyName",
                    "status",
                    "tokenAmount",
                    "hardCap",
                    "softCap",
                    "minInvestment",
                    "maxInvestment",
                    "startDate",
                    "endDate",
                    "tokenPrice",
                    "tokenSymbol",
                    "currentAmountRaised",
                    "availableAmount"
                  ]
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "tokenSymbol",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The symbol of the token."
          },
          {
            "name": "id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "description": "The unique identifier (UUID) of the STO."
          }
        ]
      }
    },
    "/get-investor-info": {
      "get": {
        "summary": "Get investor information",
        "tags": [
          "Endpoints"
        ],
        "description": "Returns detailed information about an individual investor, including personal details, KYC verification link, wallet address, investor type, and a list of all past investments. Each investment entry includes transaction details such as amount, currency, status, associated token, and offering metadata",
        "security": [
          {
            "apiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "name": "tokenSymbol",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The symbol of the token."
          },
          {
            "name": "email",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The email address of the investor."
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "email": {
                      "type": "string",
                      "format": "email",
                      "description": "User's email address.",
                      "example": "investor@example.com"
                    },
                    "firstName": {
                      "type": "string",
                      "description": "User's first name.",
                      "example": "John"
                    },
                    "lastName": {
                      "type": "string",
                      "description": "User's last name (derived from firstSurname).",
                      "example": "Doe"
                    },
                    "kycUrl": {
                      "type": "string",
                      "format": "url",
                      "description": "URL related to the user's KYC status/process.",
                      "example": "https://kyc.example.com/user/123"
                    },
                    "profilePicture": {
                      "type": "string",
                      "format": "url",
                      "description": "URL or identifier for the user's profile picture.",
                      "example": "https://images.example.com/profiles/john_doe.jpg"
                    },
                    "walletAddress": {
                      "type": "string",
                      "description": "User's associated wallet address.",
                      "example": "0xAb5801a7D398351b8bE11C439e05C5B3259aeC9B"
                    },
                    "type": {
                      "type": "string",
                      "description": "Type classification of the user.",
                      "example": "INVESTOR_INDIVIDUAL"
                    },
                    "needKyc": {
                      "type": "boolean",
                      "description": "Whether this user must complete KYC."
                    },
                    "kycStatus": {
                      "type": ["string", "null"],
                      "description": "Raw KYC workflow status."
                    },
                    "kycResult": {
                      "type": ["string", "null"],
                      "description": "Raw KYC decision result."
                    },
                    "complianceStatus": {
                      "type": "string",
                      "enum": ["NOT_REQUIRED", "NOT_STARTED", "PENDING", "APPROVED", "REJECTED", "ON_HOLD"],
                      "description": "Normalized compliance state derived from the KYC requirement, status, and result."
                    },
                    "investments": {
                      "type": "array",
                      "description": "An array containing the user's investment details.",
                      "items": {
                        "properties": {
                          "id": {
                            "type": "string",
                            "format": "uuid",
                            "description": "Unique identifier of the investment (from inv.uuid).",
                            "example": "b8341970-b99d-4c75-929c-854ab746723e"
                          },
                          "date": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Timestamp when the investment was created (from inv.createdAt).",
                            "example": "2024-06-13T08:20:00.656Z"
                          },
                          "txHash": {
                            "type": "string",
                            "nullable": true,
                            "description": "Transaction hash, if available (from inv.investmentTransaction?.txHash).",
                            "example": "0x123abc456def789..."
                          },
                          "currency": {
                            "type": "string",
                            "nullable": true,
                            "description": "Symbol of the currency used for payment (from inv.paymentToken?.symbol).",
                            "example": "USDT"
                          },
                          "amountInUSDT": {
                            "type": "string",
                            "description": "Invested amount, represented in USDT value (from inv.investedAmount).",
                            "example": "100.0"
                          },
                          "status": {
                            "type": "string",
                            "description": "Status of the investment (from inv.status).",
                            "example": "success"
                          },
                          "tokenSymbol": {
                            "type": "string",
                            "nullable": true,
                            "description": "Symbol of the token acquired in the offering (from inv.sto?.company?.tokenSymbol).",
                            "example": "ABC"
                          },
                          "offeringId": {
                            "type": "string",
                            "format": "uuid",
                            "nullable": true,
                            "description": "Unique identifier of the STO/offering (from inv.sto?.uuid).",
                            "example": "a5232594-3f97-47d0-b362-491caac9388f"
                          },
                          "offeringName": {
                            "type": "string",
                            "nullable": true,
                            "description": "Name of the STO/offering (from inv.sto?.name).",
                            "example": "Round A"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/get-investments-by-sto-id": {
      "get": {
        "summary": "Get investments associated with a specific STO ID",
        "tags": [
          "Endpoints"
        ],
        "description": "**Description:** This endpoint retrieves a list of investment transactions associated with a specific Security Token Offering (STO), identified by its UUID.\n\n**Headers:**\n\n- `x-api-key`: `YOUR_API_KEY`\n\n**Query Parameters:**\n\n- `tokenSymbol` (string): The symbol of the token.\n- `id` (string, format: uuid): The unique identifier of the STO for which to retrieve investments.",
        "security": [
          {
            "apiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "name": "tokenSymbol",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The symbol of the token."
          },
          {
            "name": "id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "description": "The unique identifier (UUID) of the STO."
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response - Investments for the specified STO retrieved.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "description": "Contains a list of offering transactions and the total count.",
                  "properties": {
                    "offeringTransactionsList": {
                      "type": "array",
                      "description": "An array containing the details of offering-related transactions (investments for this STO).",
                      "items": {
                        "type": "object",
                        "description": "Represents details of a single investment transaction related to an offering.",
                        "properties": {
                          "id": {
                            "type": "string",
                            "format": "uuid",
                            "description": "Unique identifier of the investment record (from inv.uuid).",
                            "example": "42594b34-1c1f-4e03-9dd2-78b16ff9826e"
                          },
                          "date": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Timestamp when the investment record was created (from inv.createdAt).",
                            "example": "2024-06-06T09:35:43.106Z"
                          },
                          "txHash": {
                            "type": "string",
                            "nullable": true,
                            "description": "Transaction hash associated with the investment, if available (from inv.investmentTransaction?.txHash).",
                            "example": "0xabcdef1234567890abcdef1234567890abcdef1234567890abcdef1234567890"
                          },
                          "user": {
                            "type": "string",
                            "format": "email",
                            "description": "Email address of the investor (from inv.investorEmail).",
                            "example": "investor.email@example.com"
                          },
                          "currency": {
                            "type": "string",
                            "nullable": true,
                            "description": "Symbol of the currency used for the transaction (from inv.paymentToken?.symbol).",
                            "example": "USDC"
                          },
                          "amountInUSD": {
                            "type": "string",
                            "description": "Invested amount, represented in USD value (from inv.investedAmount).",
                            "example": "500.00"
                          },
                          "status": {
                            "type": "string",
                            "description": "Status or type of the transaction (derived from inv.stoClaimant?.operation or defaults to 'invest').",
                            "example": "invest"
                          }
                        },
                        "required": [
                          "id",
                          "date",
                          "user",
                          "amountInUSD",
                          "status"
                        ]
                      }
                    },
                    "total": {
                      "type": "integer",
                      "format": "int32",
                      "description": "The total number of investment records found for this STO.",
                      "example": 42
                    }
                  },
                  "required": [
                    "offeringTransactionsList",
                    "total"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/get-transaction-status": {
      "get": {
        "summary": "Check Transaction Status",
        "tags": [
          "Endpoints"
        ],
        "description": "**Description:** This endpoint retrieves the status of a transaction submitted through `/send-transactions`.\n\n**Headers:**\n\n- `x-api-key`: `YOUR_API_KEY`\n\n**Query Parameters:**\n\n- `hash` (string, optional): On-chain transaction hash returned after the transaction is sent. Use the exact hash value starting with `0x`.\n- `txId` (string, optional): Internal transaction ID returned by `/prepare-transactions`. Use this when the on-chain transaction hash is not available yet.\n\nAt least one of `hash` or `txId` is required. Do not send a request body, because this endpoint only accepts `GET`.",
        "security": [
          {
            "apiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "name": "hash",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "On-chain transaction hash returned after the transaction is sent. Use the exact value starting with 0x."
          },
          {
            "name": "txId",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Internal transaction ID returned by /prepare-transactions. Use this when the on-chain transaction hash is not available yet."
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "description": "Transaction status.",
                      "enum": [
                        "pending",
                        "success",
                        "rejected"
                      ]
                    },
                    "error": {
                      "type": "string",
                      "description": "Stored error message when the transaction failed."
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/get-allowance": {
      "get": {
        "summary": "Get Allowance",
        "tags": [
          "Endpoints"
        ],
        "description": "**Description:** Retrieves the allowance of a spender address for a given token from the owner's address.\n\n**Headers:**\n\n- `x-api-key`: `YOUR_API_KEY`\n\n**Query Parameters:**\n\n- `tokenSymbol` (string): The symbol of the token (e.g., \"USDT\").\n- `spenderAddress` (string): The Ethereum address of the spender.\n- `ownerAddress` (string): The Ethereum address of the token owner.",
        "security": [
          {
            "apiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "name": "tokenSymbol",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The symbol of the token (e.g., \"USDT\")."
          },
          {
            "name": "spenderAddress",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The Ethereum address of the spender."
          },
          {
            "name": "ownerAddress",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The Ethereum address of the token owner."
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
[...]
