{
  "openapi": "3.1.0",
  "info": {
    "title": "Brickken API V2 - prepare approve",
    "description": "Method-scoped view of `POST /prepare-transactions` for `method=approve`. The full endpoint, with every supported method and the common request body parameters, is documented in `api-reference/openapi.json`.",
    "version": "2.0.0"
  },
  "servers": [
    {
      "url": "https://api.sandbox.brickken.com",
      "description": "Sandbox Environment"
    },
    {
      "url": "https://api.brickken.com",
      "description": "Production Environment"
    }
  ],
  "components": {
    "securitySchemes": {
      "apiKeyAuth": {
        "type": "apiKey",
        "in": "header",
        "name": "x-api-key"
      }
    }
  },
  "paths": {
    "/prepare-transactions": {
      "post": {
        "operationId": "prepare_approve",
        "summary": "Prepare a token approval",
        "description": "Prepares the unsigned transaction that approves a spender to move tokens on behalf of the owner.",
        "security": [
          {
            "apiKeyAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "method",
                  "chainId",
                  "signerAddress",
                  "tokenSymbol",
                  "spenderAddress",
                  "amount"
                ],
                "properties": {
                  "method": {
                    "type": "string",
                    "example": "approve",
                    "enum": [
                      "approve"
                    ],
                    "description": "Required. Operation to prepare. Must be `approve` for this endpoint.",
                    "default": "approve"
                  },
                  "chainId": {
                    "type": "string",
                    "description": "Required. Blockchain network identifier. Hex format is recommended, for example Sepolia `aa36a7`.",
                    "example": "aa36a7"
                  },
                  "signerAddress": {
                    "type": "string",
                    "description": "Required. Wallet that signs the approval.",
                    "example": "0x742d35Cc6634C0532925a3b844Bc454e4438f44e"
                  },
                  "tokenSymbol": {
                    "type": "string",
                    "description": "Required. Symbol of the token to approve. Accepts a tokenized asset symbol or a payment token symbol such as `USDT`, `USDC`, `BKN` or `HAI`.",
                    "example": "EXMPL"
                  },
                  "spenderAddress": {
                    "type": "string",
                    "description": "Required. Address allowed to spend the approved amount.",
                    "example": "0x3333333333333333333333333333333333333333",
                    "pattern": "^0x[a-fA-F0-9]{40}$"
                  },
                  "amount": {
                    "type": "string",
                    "description": "Required. Amount the spender is allowed to spend.",
                    "example": "100"
                  },
                  "investorAddress": {
                    "type": "string",
                    "description": "Optional. Token owner address when approving on behalf of an investor. If omitted, `signerAddress` is used as the owner.",
                    "example": "0x1111111111111111111111111111111111111111",
                    "pattern": "^0x[a-fA-F0-9]{40}$"
                  },
                  "tokenizerEmail": {
                    "type": "string",
                    "description": "Optional. Tokenizer email used as a fallback when the tokenizer cannot be resolved from the token.",
                    "example": "tokenizer@example.com",
                    "format": "email"
                  },
                  "tokenizerAddress": {
                    "type": "string",
                    "description": "Optional. Required when `tokenSymbol` is a payment token (`HAI`, `BKN`, `USDC`, `USDT`). Tokenizer wallet the approval is scoped to.",
                    "example": "0x4444444444444444444444444444444444444444",
                    "pattern": "^0x[a-fA-F0-9]{40}$"
                  }
                },
                "example": {
                  "method": "approve",
                  "chainId": "aa36a7",
                  "signerAddress": "0x742d35Cc6634C0532925a3b844Bc454e4438f44e",
                  "tokenSymbol": "EXMPL",
                  "spenderAddress": "0x3333333333333333333333333333333333333333",
                  "amount": "100"
                }
              },
              "example": {
                "method": "approve",
                "chainId": "aa36a7",
                "signerAddress": "0x742d35Cc6634C0532925a3b844Bc454e4438f44e",
                "tokenSymbol": "EXMPL",
                "spenderAddress": "0x3333333333333333333333333333333333333333",
                "amount": "100"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "transactions": {
                      "type": "array",
                      "description": "Array of unsigned transaction objects ready for signing",
                      "items": {
                        "type": "object",
                        "properties": {
                          "from": {
                            "type": "string",
                            "description": "Sender address",
                            "example": "0x1234567890abcdef1234567890abcdef12345678"
                          },
                          "to": {
                            "type": "string",
                            "description": "Recipient address",
                            "example": "0xabcdef1234567890abcdef1234567890abcdef12"
                          },
                          "value": {
                            "type": "string",
                            "description": "Transaction value in hex",
                            "example": "0x00"
                          },
                          "nonce": {
                            "type": "integer",
                            "description": "Transaction nonce",
                            "example": 3792
                          },
                          "chainId": {
                            "type": "integer",
                            "description": "Blockchain network chain ID",
                            "example": 11155111
                          },
                          "data": {
                            "type": "string",
                            "description": "Transaction data payload",
                            "example": "0xd362e8a70000000000000000000000000000000000000000000000000000000000000040..."
                          },
                          "type": {
                            "type": "integer",
                            "description": "Transaction type (EIP-1559)",
                            "example": 2
                          },
                          "maxPriorityFeePerGas": {
                            "type": "string",
                            "description": "Maximum priority fee per gas",
                            "example": "1150000"
                          },
                          "maxFeePerGas": {
                            "type": "string",
                            "description": "Maximum fee per gas",
                            "example": "1156037"
                          },
                          "gasLimit": {
                            "type": "string",
                            "description": "Gas limit in hex",
                            "example": "0xccef"
                          }
                        }
                      }
                    },
                    "info": {
                      "type": "object",
                      "description": "Metadata about the operation",
                      "properties": {
                        "tokenizerEmail": {
                          "type": "string",
                          "description": "Email of the tokenizer",
                          "example": "tokenizer@example.com"
                        },
                        "tokenSymbol": {
                          "type": "string",
                          "description": "Symbol of the token",
                          "example": "EXMPL"
                        },
                        "investorEmail": {
                          "type": "string",
                          "description": "Email of the investor (when applicable)",
                          "example": "investor@example.com"
                        }
                      }
                    },
                    "txId": {
                      "type": "string",
                      "description": "Unique identifier for this transaction batch (required for /send-transactions). This is NOT a blockchain transaction hash.",
                      "example": "0x46adea7bdf49c576a760102e0d6bc9ecd650b3998588cd3d7f576a7973426aad"
                    }
                  },
                  "required": [
                    "transactions",
                    "txId"
                  ]
                }
              }
            }
          }
        }
      }
    }
  }
}
