{
  "openapi": "3.1.0",
  "info": {
    "title": "Brickken API V2 - prepare newSto",
    "description": "Method-scoped view of `POST /prepare-transactions` for `method=newSto`. The full endpoint, with every supported method and the common request body parameters, is documented in `api-reference/openapi.json`.",
    "version": "2.0.0"
  },
  "servers": [
    {
      "url": "https://api.sandbox.brickken.com",
      "description": "Sandbox Environment"
    },
    {
      "url": "https://api.brickken.com",
      "description": "Production Environment"
    }
  ],
  "components": {
    "securitySchemes": {
      "apiKeyAuth": {
        "type": "apiKey",
        "in": "header",
        "name": "x-api-key"
      }
    }
  },
  "paths": {
    "/prepare-transactions": {
      "post": {
        "operationId": "prepare_newSto",
        "summary": "Prepare a new STO",
        "description": "Prepares the unsigned transactions that create a Security Token Offering for an existing token.",
        "security": [
          {
            "apiKeyAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "method",
                  "chainId",
                  "signerAddress",
                  "tokenizerEmail",
                  "tokenSymbol",
                  "offeringName",
                  "tokenAmount",
                  "acceptedCoin",
                  "startDate",
                  "endDate",
                  "minRaiseUSD",
                  "maxRaiseUSD",
                  "minInvestment",
                  "maxInvestment"
                ],
                "properties": {
                  "method": {
                    "type": "string",
                    "example": "newSto",
                    "enum": [
                      "newSto"
                    ],
                    "description": "Required. Operation to prepare. Must be `newSto` for this endpoint.",
                    "default": "newSto"
                  },
                  "chainId": {
                    "type": "string",
                    "description": "Required. Blockchain network identifier. Hex format is recommended, for example Sepolia `aa36a7`.",
                    "example": "aa36a7"
                  },
                  "signerAddress": {
                    "type": "string",
                    "description": "Required. Tokenizer wallet that signs the offering creation.",
                    "example": "0x742d35Cc6634C0532925a3b844Bc454e4438f44e"
                  },
                  "tokenizerEmail": {
                    "type": "string",
                    "description": "Required. Email of the tokenizer that owns the token. The token must not already have an ongoing offering; a second one is rejected with `Tokenizer already has an ongoing STO`.",
                    "example": "tokenizer@example.com",
                    "format": "email"
                  },
                  "tokenSymbol": {
                    "type": "string",
                    "description": "Required. Symbol of the token offered. The token must already be deployed on `chainId`.",
                    "example": "EXMPL"
                  },
                  "offeringName": {
                    "type": "string",
                    "description": "Required. Name of the STO offering.",
                    "example": "Series A"
                  },
                  "tokenAmount": {
                    "type": "string",
                    "description": "Required. Number of tokens offered in the STO. This is the field some clients call `totalTokensOffered`, which is not accepted.",
                    "example": "1000"
                  },
                  "acceptedCoin": {
                    "type": "string",
                    "description": "Required. Symbol of the payment token accepted for investments. It must be supported on `chainId`. This method does not accept `paymentTokenSymbol`.",
                    "example": "USDT"
                  },
                  "startDate": {
                    "type": "string",
                    "description": "Required. STO start date, as explicit UTC with a `Z` suffix or a unix timestamp. A timestamp with no offset is read as UTC. It must be in the future when the transaction is mined and earlier than `endDate`; set it at least 10 minutes after the planned send time.",
                    "example": "2026-09-01T00:00:00.000Z",
                    "format": "date-time"
                  },
                  "endDate": {
                    "type": "string",
                    "description": "Required. STO end date, as explicit UTC with a `Z` suffix or a unix timestamp. There is no minimum offering duration, but the offering cannot be closed before this date has passed.",
                    "example": "2026-12-31T23:59:59.000Z",
                    "format": "date-time"
                  },
                  "minRaiseUSD": {
                    "type": "string",
                    "description": "Required. Minimum raise amount in USD. This is the offering's soft cap: an offering that ends below it enters rollback and refunds investors instead of delivering tokens.",
                    "example": "10000"
                  },
                  "maxRaiseUSD": {
                    "type": "string",
                    "description": "Required. Maximum raise amount in USD. Token price is derived as `maxRaiseUSD / tokenAmount`; there is no `tokenPrice` input.",
                    "example": "100000"
                  },
                  "minInvestment": {
                    "type": "string",
                    "description": "Required. Minimum investment amount.",
                    "example": "100"
                  },
                  "maxInvestment": {
                    "type": "string",
                    "description": "Required. Maximum investment amount.",
                    "example": "10000"
                  }
                },
                "example": {
                  "method": "newSto",
                  "chainId": "aa36a7",
                  "signerAddress": "0x742d35Cc6634C0532925a3b844Bc454e4438f44e",
                  "tokenizerEmail": "tokenizer@example.com",
                  "tokenSymbol": "EXMPL",
                  "offeringName": "Series A",
                  "tokenAmount": "1000",
                  "acceptedCoin": "USDT",
                  "startDate": "2026-09-01T00:00:00.000Z",
                  "endDate": "2026-12-31T23:59:59.000Z",
                  "minRaiseUSD": "10000",
                  "maxRaiseUSD": "100000",
                  "minInvestment": "100",
                  "maxInvestment": "10000"
                }
              },
              "example": {
                "method": "newSto",
                "chainId": "aa36a7",
                "signerAddress": "0x742d35Cc6634C0532925a3b844Bc454e4438f44e",
                "tokenizerEmail": "tokenizer@example.com",
                "tokenSymbol": "EXMPL",
                "offeringName": "Series A",
                "tokenAmount": "1000",
                "acceptedCoin": "USDT",
                "startDate": "2026-09-01T00:00:00.000Z",
                "endDate": "2026-12-31T23:59:59.000Z",
                "minRaiseUSD": "10000",
                "maxRaiseUSD": "100000",
                "minInvestment": "100",
                "maxInvestment": "10000"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "transactions": {
                      "type": "array",
                      "description": "Array of unsigned transaction objects ready for signing",
                      "items": {
                        "type": "object",
                        "properties": {
                          "from": {
                            "type": "string",
                            "description": "Sender address",
                            "example": "0x1234567890abcdef1234567890abcdef12345678"
                          },
                          "to": {
                            "type": "string",
                            "description": "Recipient address",
                            "example": "0xabcdef1234567890abcdef1234567890abcdef12"
                          },
                          "value": {
                            "type": "string",
                            "description": "Transaction value in hex",
                            "example": "0x00"
                          },
                          "nonce": {
                            "type": "integer",
                            "description": "Transaction nonce",
                            "example": 3792
                          },
                          "chainId": {
                            "type": "integer",
                            "description": "Blockchain network chain ID",
                            "example": 11155111
                          },
                          "data": {
                            "type": "string",
                            "description": "Transaction data payload",
                            "example": "0xd362e8a70000000000000000000000000000000000000000000000000000000000000040..."
                          },
                          "type": {
                            "type": "integer",
                            "description": "Transaction type (EIP-1559)",
                            "example": 2
                          },
                          "maxPriorityFeePerGas": {
                            "type": "string",
                            "description": "Maximum priority fee per gas",
                            "example": "1150000"
                          },
                          "maxFeePerGas": {
                            "type": "string",
                            "description": "Maximum fee per gas",
                            "example": "1156037"
                          },
                          "gasLimit": {
                            "type": "string",
                            "description": "Gas limit in hex",
                            "example": "0xccef"
                          }
                        }
                      }
                    },
                    "info": {
                      "type": "object",
                      "description": "Metadata about the operation",
                      "properties": {
                        "tokenizerEmail": {
                          "type": "string",
                          "description": "Email of the tokenizer",
                          "example": "tokenizer@example.com"
                        },
                        "tokenSymbol": {
                          "type": "string",
                          "description": "Symbol of the token",
                          "example": "EXMPL"
                        },
                        "investorEmail": {
                          "type": "string",
                          "description": "Email of the investor (when applicable)",
                          "example": "investor@example.com"
                        }
                      }
                    },
                    "txId": {
                      "type": "string",
                      "description": "Unique identifier for this transaction batch (required for /send-transactions). This is NOT a blockchain transaction hash.",
                      "example": "0x46adea7bdf49c576a760102e0d6bc9ecd650b3998588cd3d7f576a7973426aad"
                    }
                  },
                  "required": [
                    "transactions",
                    "txId"
                  ]
                }
              }
            }
          }
        }
      }
    }
  }
}
