{
  "openapi": "3.1.0",
  "info": {
    "title": "Brickken API V2 - prepare newTokenization",
    "description": "Method-scoped view of `POST /prepare-transactions` for `method=newTokenization`. The full endpoint, with every supported method and the common request body parameters, is documented in `api-reference/openapi.json`.",
    "version": "2.0.0"
  },
  "servers": [
    {
      "url": "https://api.sandbox.brickken.com",
      "description": "Sandbox Environment"
    },
    {
      "url": "https://api.brickken.com",
      "description": "Production Environment"
    }
  ],
  "components": {
    "securitySchemes": {
      "apiKeyAuth": {
        "type": "apiKey",
        "in": "header",
        "name": "x-api-key"
      }
    }
  },
  "paths": {
    "/prepare-transactions": {
      "post": {
        "operationId": "prepare_newTokenization",
        "summary": "Prepare a new tokenization",
        "description": "Prepares the unsigned transactions that deploy a new tokenized asset.",
        "security": [
          {
            "apiKeyAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "method",
                  "chainId",
                  "signerAddress",
                  "tokenizerEmail",
                  "name",
                  "tokenSymbol"
                ],
                "properties": {
                  "method": {
                    "type": "string",
                    "example": "newTokenization",
                    "enum": [
                      "newTokenization"
                    ],
                    "description": "Required. Operation to prepare. Must be `newTokenization` for this endpoint.",
                    "default": "newTokenization"
                  },
                  "chainId": {
                    "type": "string",
                    "description": "Required. Blockchain network identifier. Hex format is recommended, for example Sepolia `aa36a7`.",
                    "example": "aa36a7"
                  },
                  "signerAddress": {
                    "type": "string",
                    "description": "Required. Wallet address that signs the deployment transactions. It must be whitelisted by Brickken and becomes the tokenizer of the new token.",
                    "example": "0x742d35Cc6634C0532925a3b844Bc454e4438f44e"
                  },
                  "tokenizerEmail": {
                    "type": "string",
                    "description": "Required. Email of the tokenizer account. The account must exist and hold an active tokenization license.",
                    "example": "tokenizer@example.com",
                    "format": "email"
                  },
                  "name": {
                    "type": "string",
                    "description": "Required. Name of the tokenized asset. Use `name`; `tokenName` is not supported.",
                    "example": "Example Token"
                  },
                  "tokenSymbol": {
                    "type": "string",
                    "description": "Required. Symbol of the new token. Must be 2 to 5 uppercase letters or numbers, and must not be already in use.",
                    "example": "EXMPL"
                  },
                  "tokenType": {
                    "type": "string",
                    "enum": [
                      "EQUITY",
                      "DEBT",
                      "BILL_FACTORING",
                      "ICO",
                      "STABLECOIN",
                      "REVENUE_SHARE",
                      "RWA_TOKEN",
                      "PROFIT_SHARING"
                    ],
                    "example": "EQUITY",
                    "description": "Optional. Token type. Defaults to EQUITY when omitted."
                  },
                  "supplyCap": {
                    "type": "string",
                    "description": "Optional. Maximum token supply. Defaults to `0` when omitted.",
                    "example": "1000000"
                  },
                  "url": {
                    "type": "string",
                    "description": "Optional. Token documentation URL. Defaults to an empty string when omitted.",
                    "example": "https://example.com/token-docs"
                  },
                  "tokenizerAddress": {
                    "type": "string",
                    "description": "Optional. Tokenizer wallet address used as the token issuer. If omitted, `signerAddress` is used.",
                    "example": "0x4444444444444444444444444444444444444444",
                    "pattern": "^0x[a-fA-F0-9]{40}$"
                  },
                  "paymentTokenAddress": {
                    "type": "string",
                    "description": "Optional. Payment token contract address for the new asset. If omitted, the chain default payment token is used.",
                    "example": "0x5555555555555555555555555555555555555555",
                    "pattern": "^0x[a-fA-F0-9]{40}$"
                  },
                  "preMints": {
                    "type": "array",
                    "description": "Optional. Pre-mint amounts. If provided, initialHolders must also be provided with the same length.",
                    "items": {
                      "type": "object",
                      "required": [
                        "amount"
                      ],
                      "properties": {
                        "amount": {
                          "type": "string",
                          "description": "Required. Amount to pre-mint to the holder at the same array index.",
                          "example": "1000"
                        }
                      }
                    },
                    "example": [
                      {
                        "amount": "1000"
                      }
                    ]
                  },
                  "initialHolders": {
                    "type": "array",
                    "description": "Optional. Initial holders paired by index with preMints. Provide walletAddress directly, or email when a DFNS wallet can be resolved.",
                    "items": {
                      "type": "object",
                      "properties": {
                        "walletAddress": {
                          "type": "string",
                          "description": "Optional. Holder wallet address.",
                          "example": "0x1111111111111111111111111111111111111111",
                          "pattern": "^0x[a-fA-F0-9]{40}$"
                        },
                        "email": {
                          "type": "string",
                          "description": "Optional. Holder email used to resolve a DFNS wallet when walletAddress is omitted.",
                          "example": "holder@example.com",
                          "format": "email"
                        }
                      }
                    },
                    "example": [
                      {
                        "walletAddress": "0x1111111111111111111111111111111111111111"
                      }
                    ]
                  }
                },
                "example": {
                  "method": "newTokenization",
                  "chainId": "aa36a7",
                  "signerAddress": "0x742d35Cc6634C0532925a3b844Bc454e4438f44e",
                  "tokenizerEmail": "tokenizer@example.com",
                  "name": "Example Token",
                  "tokenSymbol": "EXMPL",
                  "tokenType": "EQUITY",
                  "supplyCap": "1000000",
                  "url": "https://example.com/token-docs",
                  "preMints": [
                    {
                      "amount": "1000"
                    }
                  ],
                  "initialHolders": [
                    {
                      "walletAddress": "0x1111111111111111111111111111111111111111"
                    }
                  ]
                }
              },
              "example": {
                "method": "newTokenization",
                "chainId": "aa36a7",
                "signerAddress": "0x742d35Cc6634C0532925a3b844Bc454e4438f44e",
                "tokenizerEmail": "tokenizer@example.com",
                "name": "Example Token",
                "tokenSymbol": "EXMPL",
                "tokenType": "EQUITY",
                "supplyCap": "1000000",
                "url": "https://example.com/token-docs",
                "preMints": [
                  {
                    "amount": "1000"
                  }
                ],
                "initialHolders": [
                  {
                    "walletAddress": "0x1111111111111111111111111111111111111111"
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "transactions": {
                      "type": "array",
                      "description": "Array of unsigned transaction objects ready for signing",
                      "items": {
                        "type": "object",
                        "properties": {
                          "from": {
                            "type": "string",
                            "description": "Sender address",
                            "example": "0x1234567890abcdef1234567890abcdef12345678"
                          },
                          "to": {
                            "type": "string",
                            "description": "Recipient address",
                            "example": "0xabcdef1234567890abcdef1234567890abcdef12"
                          },
                          "value": {
                            "type": "string",
                            "description": "Transaction value in hex",
                            "example": "0x00"
                          },
                          "nonce": {
                            "type": "integer",
                            "description": "Transaction nonce",
                            "example": 3792
                          },
                          "chainId": {
                            "type": "integer",
                            "description": "Blockchain network chain ID",
                            "example": 11155111
                          },
                          "data": {
                            "type": "string",
                            "description": "Transaction data payload",
                            "example": "0xd362e8a70000000000000000000000000000000000000000000000000000000000000040..."
                          },
                          "type": {
                            "type": "integer",
                            "description": "Transaction type (EIP-1559)",
                            "example": 2
                          },
                          "maxPriorityFeePerGas": {
                            "type": "string",
                            "description": "Maximum priority fee per gas",
                            "example": "1150000"
                          },
                          "maxFeePerGas": {
                            "type": "string",
                            "description": "Maximum fee per gas",
                            "example": "1156037"
                          },
                          "gasLimit": {
                            "type": "string",
                            "description": "Gas limit in hex",
                            "example": "0xccef"
                          }
                        }
                      }
                    },
                    "info": {
                      "type": "object",
                      "description": "Metadata about the operation",
                      "properties": {
                        "tokenizerEmail": {
                          "type": "string",
                          "description": "Email of the tokenizer",
                          "example": "tokenizer@example.com"
                        },
                        "tokenSymbol": {
                          "type": "string",
                          "description": "Symbol of the token",
                          "example": "EXMPL"
                        },
                        "investorEmail": {
                          "type": "string",
                          "description": "Email of the investor (when applicable)",
                          "example": "investor@example.com"
                        }
                      }
                    },
                    "txId": {
                      "type": "string",
                      "description": "Unique identifier for this transaction batch (required for /send-transactions). This is NOT a blockchain transaction hash.",
                      "example": "0x46adea7bdf49c576a760102e0d6bc9ecd650b3998588cd3d7f576a7973426aad"
                    }
                  },
                  "required": [
                    "transactions",
                    "txId"
                  ]
                }
              }
            }
          }
        }
      }
    }
  }
}
